<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Administrador</title>
    <link rel="stylesheet" type="text/css" href="/css/adicionarUsuarios.css">
</head>

<body>
    <section class="main fundo full-page" id="adicionarUsuarios" ng-controller="AdicionarUsuariosController as adicionar" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo" ng-class="{'back': adicionar.loading === true}">
            <p class="titulo">Adicionar usuários - {{adicionar.empresa.nome}}</p>
            <div ng-show="true">
                <div ng-repeat="input in adicionar.inputList">
                    <div class="tituloArea">Escolha a área desejada:</div>
                    <div class="tituloUnidade">Escolha a unidade desejada:</div>
                    <div class="tituloEmails">Insira os e-mails:</div>
                    <br>
                    <select class="campoArea" ng-model="input.departamento">
                        <option ng-repeat="area in adicionar.empresa.departamento">{{area}}</option>
                    </select>
                    <select class="campoUnidade" ng-model="input.unidade">
                        <option ng-repeat="unidade in adicionar.empresa.unidade">{{unidade}}</option>
                    </select>
                    <textarea class="campoEmail" ng-model="input.emails" placeholder="Insira aqui o(s) e-mail(s) dos funcionários, separando-os por vírgula."></textarea>
                </div>
            </div>
            <div>
                <p>
                    <button type="button" class="buttonAdicionarUsuarios" ng-click="adicionar.adicionaNovoCampo()">ADICIONAR MAIS USUÁRIOS</button>
                    <button type="button" class="buttonSalvar" ng-click="adicionar.saveUsers()">SALVAR</button>
                    <button type="button" class="buttonVoltar" ng-click="adicionar.goToAdministrador()">VOLTAR</button>
                </p>
            </div>
        </div>
        <div class="loading" ng-show="adicionar.loading">
            <div class="tab">
                <p> Carregando </p>
            </div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </section>
</body>
