<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Administrador</title>
    <link rel="stylesheet" type="text/css" href="/css/administrador.css">
</head>

<body>
    <section class="main fundo full-page" id="administrador" ng-controller="AdministradorController as adm" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo">
            <div class="ferramentas-admin">
                <p class="titulo">Ferramentas do administrador</p>
                <div class="opcoes-admin">
                    <button type="button" class="button" ng-show = "adm.seeChats()" ng-click="adm.goTo('lista-chats')">CHATS</button>
                    <!--<a href="/lista-chats">
                        <p class="opcoes-admin">Chats</p>
                    </a>-->
                    <button type="button" class="button" ng-show = "adm.isAdmin()" ng-click="adm.goTo('programa')">PROGRAMA</button>
                    <!--<a href="/programa">
                        <p class="opcoes-admin" ng-show = "adm.isAdmin()">Programa</p>
                    </a>-->
                    <p class="opcoes-admin" ng-show = "adm.isAdmin()">
                        <br>Empresas cadastradas</p>
                    <br>
                    <div class="painel-empresas" ng-show = "adm.isAdmin()">
                        <div class="empresa">
                            <table id="painel">
                                <tr ng-repeat="empresa in adm.empresas">
                                    <th><a href="" class="empresa" ng-click="adm.chooseEmpresa(empresa)"> {{empresa.nome}} </a>
                                        <!--<a href="usuarios"></th>-->
                                        <th>
                                            Início do programa: {{empresa.data | date: "dd/MM/yyyy"}}
                                        </th>
                                        <th><a href="" class="empresa" ng-click="adm.chooseEmpresaEditar(empresa)"> Editar </a></th>
                                        <th><a href="" class="empresa" ng-click="adm.ativarDesativarEmpresa(empresa)"> {{empresa.status}} </a></th>
                                </tr>
                            </table>
                            <button type="button" class="buttonNovaEmpresa" ng-click="adm.goTo('cadastro-empresa')">ADICIONAR NOVA EMPRESA</button>
                            <button type="button" class="buttonVoltar" onclick="javascript:history.back()">VOLTAR</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
