<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Alterar Desafio</title>
    <link rel="stylesheet" type="text/css" href="/css/programa.css">
</head>

<body>
    <section class="main fundo full-page" ng-controller="AlterarDesafioController as altDesafio" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo conteudo-desafio">
            <div ng-class="{'back': altDesafio.success === true || altDesafio.error === true || altDesafio.loading === true}">
                <form accept-charset="utf-8" class="form-desafio">
                    <p class="tituloII">Insira as informações sobre o desafio</p>
                    <p class="form-text">Título do desafio:</p>
                    <textarea type="text" name="pergunta" class="order desafio" ng-model="altDesafio.desafio.titulo"></textarea>
                    <p class="form-text">
                        <br>Texto do desafio:</p>
                    <textarea type="text" name="pergunta" class="order pergunta desafio" ng-model="altDesafio.desafio.conteudo"></textarea>
                    <p class="form-text">
                        <br>Dia:</p>
                    <input type="number" name="data" class="order date" ng-model="altDesafio.desafio.dia">
                    <!--<button class="add-button foto" s3 options="altDesafio.options" name="uploads" ng-model="altDesafio.files" required>ESCOLHA A FOTO</button>
                <p class="titulo-foto">{{altDesafio.desafio.midia}}</p>-->
                </form>
                <input type="button" name="salvar" value="SALVAR" class="buttonSalvarIII" ng-click="altDesafio.save()">
                <input type="button" name="salvar" value="VOLTAR" class="buttonVoltarII" onclick="javascript:history.back()">
            </div>
        </div>
        <div class="success" ng-show="altDesafio.success">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="altDesafio.voltar()"></i>
                </a>
            </div>
            <p> {{altDesafio.msg}} </p>
        </div>
        <div class="error" ng-show="altDesafio.error">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="altDesafio.voltar()"></i>
                </a>
            </div>
            <p> {{altDesafio.msg}} </p>
        </div>
        <div class="loading" ng-show="altDesafio.loading">
            <div class="tab">
                <p> Carregando </p>
            </div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </section>
</body>

</html>
