<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Alterar Quiz</title>
    <link rel="stylesheet" type="text/css" href="/css/programa.css">
</head>

<body>
    <section class="main fundo full-page" ng-controller="AlterarQuizController as altQuiz" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo conteudo-quiz" ng-class="{'back': altQuiz.success === true || altQuiz.error === true || altQuiz.loading === true}">
            <p class="tituloII">Insira as informações sobre o quiz</p>
            <form accept-charset="utf-8" class="form-quiz">
                <div>
                    <p class="form-text">
                        Dia:</p>
                    <input type="number" name="data" class="order date" ng-model="altQuiz.quiz.dia">
                </div>
                <div class="clear-alignment">
                    <p class="form-text"><br>Pergunta:</p>
                    <textarea name="pergunta" class="order pergunta desafio" ng-model="altQuiz.quiz.conteudo"></textarea>
                    <p class="form-text"><br>Resposta(s):</p>
                    <ul class="add-resposta">
                        <div ng-repeat="opcao in altQuiz.tmpArray track by $index">
                            <li>
                                <input class="order desafio" type="text" name="texto" ng-model="altQuiz.tmpArray[$index]"></input>
                                <a href="" class="remover" ng-click="altQuiz.removerResposta(opcao)"> remover </a>
                                <br>
                            </li>
                        </div>
                        <div class="add-resposta">
                            <button class="adicionar" ng-click="altQuiz.adicionaResposta()">
                                <!-- <i class="fa fa-plus-circle" aria-hidden="true"></i> -->
                            </button>
                        </div>
                    </ul>
                </div>
                <input type="button" value="SALVAR" class="buttonSalvarII" ng-click="altQuiz.saveQuiz()">
                <input type="button" value="VOLTAR" class="buttonVoltarII" onclick="javascript:history.back()">
            </form>
        </div>
        <div class="success" ng-show="altQuiz.success">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="altQuiz.voltar()"></i>
                </a>
            </div>
            <p> {{altQuiz.msg}} </p>
        </div>
        <div class="error" ng-show="altQuiz.error">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="altQuiz.voltar()"></i>
                </a>
            </div>
            <p> {{altQuiz.msg}} </p>
        </div>
        <div class="loading" ng-show="altQuiz.loading">
            <div class="tab">
                <p> Carregando </p>
            </div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </section>
</body>

</html>
