<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Alterar Desafio</title>
    <link rel="stylesheet" type="text/css" href="/css/programa.css">
</head>

<body>
    <section class="main fundo full-page" ng-controller="AlterarComplementoController as altComplemento" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo conteudo-complemento" ng-class="{'back': altComplemento.success === true || altComplemento.confirm === true || altComplemento.error === true || altComplemento.loading === true}">
            <p class="tituloII">Insira as informações sobre o complemento</p>
            <form accept-charset="utf-8" class="form-desafio">
                <p class="form-text">Dia:</p>
                <input type="number" name="data" class="order date" ng-model="altComplemento.complemento.dia">
                <p class="form-text">Título:</p>
                <textarea name="titulo" class="order desafio" ng-model="altComplemento.complemento.titulo"></textarea>
                <p class="form-text">Texto:</p>
                <textarea name="texto" class="order pergunta desafio" ng-model="altComplemento.complemento.conteudo"></textarea>
                <p class="form-text">Video:</p>
                <textarea name="texto" class="order desafio link" ng-model="altComplemento.complemento.video"></textarea>
                <p class="form-text">Link:</p>
                <textarea name="texto" class="order desafio link" ng-model="altComplemento.complemento.link"></textarea>
                <p class="form-text">Imagem: {{altComplemento.complemento.midia}}</p>
                <div class="row">
                    <div class="col-sm-2">
                        <button class="buttonAddFoto" s3 options="altComplemento.options" name="uploads" ng-model="altComplemento.files" ng-click="altComplemento.uploadImg()" required>ESCOLHER A FOTO</button>
                    </div>
                    <div class="col-sm-4">
                        <button class="buttonRemoveFotoComplemento" ng-click="altComplemento.deleteFoto()">REMOVER A FOTO</button>
                    </div>
                </div>
                <div>
                    <input type="button" name="salvar" value="SALVAR" class="buttonSalvarV" ng-click="altComplemento.save()">
                    <input type="button" name="voltar" value="VOLTAR" class="buttonVoltarV" onclick="javascript:history.back()">
                    <input type="button" name="deletar" value="DELETAR" class="buttonVoltarV" ng-click="altComplemento.confirm = true" ng-show="altComplemento.complemento.tipo === 3">
                </div>
            </form>
        </div>
        <div class="success" ng-show="altComplemento.success">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="altComplemento.voltar()"></i>
                </a>
            </div>
            <p> {{altComplemento.msg}} </p>
        </div>
        <div class="error" ng-show="altComplemento.error">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="altComplemento.voltar()"></i>
                </a>
            </div>
            <p> {{altComplemento.msg}} </p>
        </div>
        <div class="success" ng-show="altComplemento.confirm">
            <div class="tab">
                <a class="exit" href="" ng-click="altComplemento.confirm = false">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
                </a>
                <a class="check" href="" ng-click="altComplemento.deletar() ; altComplemento.confirm = false">
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <p> Deseja realmente deletar o complemento? </p>
        </div>
        <div class="loading" ng-show="altComplemento.loading">
            <div class="tab">
                <p> Carregando </p>
            </div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </section>
</body>

</html>
