<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Alterar Conteudo</title>
    <link rel="stylesheet" type="text/css" href="/css/programa.css">
</head>

<body>
    <section class="main fundo full-page" ng-controller="AlterarConteudoController as altConteudo" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo conteudo-conteudo" ng-class="{'back': altConteudo.success === true || altConteudo.error === true || altConteudo.loading === true}">
            <p class="tituloII">Insira as informações sobre o conteúdo</p>
            <form accept-charset="utf-8" class="form-conteudo">
                <p class="form-text">Dia:</p>
                <input type="number" name="data" class="order date" ng-model="altConteudo.content.dia">
                <p class="form-text">
                    <br>Título:</p>
                <textarea name="titulo" class="order desafio" ng-model="altConteudo.content.titulo"></textarea>
                <p class="form-text">
                    <br>Texto:</p>
                <textarea name="texto" class="order pergunta desafio" ng-model="altConteudo.content.texto1"></textarea>
                <p class="form-text">
                    <br>Imagem: {{altConteudo.content.imagem1}}</p>
                <div class="buttonContainer">
                    <button class="buttonAddFoto" s3 options="altConteudo.options1" name="uploads" ng-model="altConteudo.files.imagem1" ng-click="altConteudo.uploadImg(1)" required>ESCOLHER A FOTO</button>

                    <button class="buttonRemoveFoto" ng-click="altConteudo.delete(1)">REMOVER A FOTO</button>
                </div>
                <p class="form-text">
                    <br>Texto 2:</p>
                <textarea name="texto" class="order pergunta desafio" ng-model="altConteudo.content.texto2"></textarea>
                <p class="form-text">
                    <br>Imagem 2: {{altConteudo.content.imagem2}}</p>
                <div class="buttonContainer">
                    <button class="buttonAddFoto" s3 options="altConteudo.options1" name="uploads" ng-model="altConteudo.files.imagem1" ng-click="altConteudo.uploadImg(1)" required>ESCOLHER A FOTO</button>

                    <button class="buttonRemoveFoto" ng-click="altConteudo.delete(1)">REMOVER A FOTO</button>
                </div>
                <p class="form-text">
                    <br>Texto 3:</p>
                <textarea name="texto" class="order pergunta desafio" ng-model="altConteudo.content.texto3"></textarea>
                <p class="form-text">
                    <br>Imagem 3: {{altConteudo.content.imagem3}}</p>
                <div class="buttonContainer">
                    <button class="buttonAddFoto" s3 options="altConteudo.options1" name="uploads" ng-model="altConteudo.files.imagem1" ng-click="altConteudo.uploadImg(1)" required>ESCOLHER A FOTO</button>

                    <button class="buttonRemoveFoto" ng-click="altConteudo.delete(1)">REMOVER A FOTO</button>
                </div>
                <p class="form-text">Video:</p>
                <textarea name="texto" class="order desafio link" ng-model="altConteudo.content.video"></textarea>
            </form>
            <div>
                <input type="button" name="salvar" value="SALVAR" class="buttonSalvarV" ng-click="altConteudo.save()">
                <input type="button" name="salvar" value="VOLTAR" class="buttonVoltarV" onclick="javascript:history.back()">
            </div>
        </div>
        <div class="success" ng-show="altConteudo.success">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="altConteudo.voltar()"></i>
                </a>
            </div>
            <p> {{altConteudo.msg}} </p>
        </div>
        <div class="error" ng-show="altConteudo.error">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="altConteudo.voltar()"></i>
                </a>
            </div>
            <p> {{altConteudo.msg}} </p>
        </div>
        <div class="loading" ng-show="altConteudo.loading">
            <div class="tab">
                <p> Carregando </p>
            </div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </section>
</body>

</html>
