<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Cadastro de empresa</title>
    <link rel="stylesheet" type="text/css" href="/css/cadastroEmpresa.css">
    <style>

    </style>
</head>

<body>
    <section class="main fundo full-page" id="cadastroEmpresa" ng-controller="CadastroEmpresaController as cadastro" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo" ng-class="{'back': cadastro.success === true || cadastro.error === true || cadastro.loading === true}">
            <div class="cadastro-empresa">
                <p class="titulo">Cadastro da empresa {{cadastro.empresaInfo.nome}}</p>
                <form name="cadastroEmpresa">
                    <p class="subtitulo">Nome da empresa:</p>
                    <input name="nomeEmpresa" type="text" placeholder="Digite o nome da empresa" ng-model="nome" required>
                    <p class="subtitulo">Data de início do programa:</p>
                    <input type="date" name="data" class="order date" ng-model="data" required>
                    <p class="subtitulo">Áreas/setores da empresa:</p>
                    <input type="text" placeholder="Digite uma área ou setor" ng-model="areas[0]" required>
                    <div ng-show="novoCampoArea">
                        <div ng-repeat="indexArea in indexAreas">
                            <input type="text" placeholder="Digite uma outra área ou setor" ng-model="areas[indexArea]">
                        </div>
                    </div>
                    <input type="button" class="adicionar" ng-click="cadastro.adicionaArea()">
                    <p class="subtitulo">Unidades da empresa:</p>
                    <input type="text" placeholder="Digite uma unidade" ng-model="unidades[0]" required>
                    <div ng-show="novoCampoUnidade">
                        <div ng-repeat="indexUnidade in indexUnidades">
                            <input type="text" placeholder="Digite uma outra unidade" ng-model="unidades[indexUnidade]">
                        </div>
                    </div>
                    <input type="button" name="adicionar_unidade" class="adicionar" ng-click="cadastro.adicionaUnidade()">
                </form>
                <br>
                <button type="button" class="button" ng-click="salvar(nomeTemp, dataTemp)">SALVAR</button>
                <button type="button" class="button" ng-click="cadastro.voltar()">VOLTAR</button>
                <button type="button" class="button" ng-click="cadastro.confirm = true" ng-hide="cadastro.isNovaEmpresa">DELETAR</button>
            </div>
        </div>
        <div class="success" ng-show="cadastro.success">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="cadastro.voltar()"></i>
                </a>
            </div>
            <p> {{cadastro.msg}} </p>
        </div>
        <div class="error" ng-show="cadastro.error">
            <div class="tab">
                <a>
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="cadastro.voltar()"></i>
                </a>
            </div>
            <p> {{cadastro.msg}} </p>
        </div>
        <div class="loading" ng-show="cadastro.loading">
            <div class="tab">
                <p> Carregando </p>
            </div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <div class="success" ng-show="cadastro.confirm">
            <div class="tab">
                <a class="exit" href="" ng-click="cadastro.confirm = false">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
                </a>
                <a class="check" href="" ng-click="cadastro.deletarEmpresa() ; cadastro.confirm = false">
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <p> Deseja realmente deletar a empresa? </p>
        </div>
    </section>
</body>

</html>
