<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/css/chat.css">
</head>

<body>
    <section class="main fundo full-page" id="chat" ng-controller="ChatController as chat" ng-class="{'fundo-ranking':programa() === true, 'fundo-ranking-simplesmente':programa() === false}">
        <div class="conteudo">
            <p class="title">Contato</p>
            <section>
                <div scroll-glue class="box box-chat">
                    <div class="mensagem" ng-repeat="msg in chat.mensagens">
                        <img ng-src="{{msg.is_user === true && chat.foto || chat.foto_adm}}"
                         class="img-mensagem" ng-class="{'left-image': msg.is_user === true,
                          'right-image': msg.is_user === false}">
                        <p class="body-mensagem" ng-class="{'left': msg.is_user === true, 'right': msg.is_user === false}">
                        {{msg.mensagem}}</p>
                    </div>
                </div>
                <form class="form-inline">
                    <img ng-src="{{chat.isAdmin() == true && chat.foto_adm || chat.foto}}"s class="imgChat">
                    <textarea placeholder="escreva seu texto aqui..." ng-model="mensagem"></textarea> 
                    <input type="submit" name="button" value=" " ng-click="chat.getMensagem(mensagem); clearMensagem()">
                </form>
            </section>
        </div>
    </section>
</body>

</html>
