<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Desafio a fazer</title>
    <link rel="stylesheet" type="text/css" href="/css/desafios.css">
</head>

<body>
    <section class="main fundo full-page" id="desafios" ng-class="{'fundo-desafio':programa() === true, 'fundo-desafio-simplesmente':programa() === false}" ng-init="feedbackDesafio = false">
        <div class="conteudo" style="width: 700px" ng-style="{opacity : ((feedbackQuiz === true) && '0.4') || '1'}">
            <p class="title" ng-hide="isEdit === true">{{desafio.diasRestantes}}</p>
            <p class="title" ng-hide="isEdit === true">{{desafio.titulo}}</p>
            <p class="titulo-desafio" ng-hide="isEdit === false">{{desafio.titulo}}</p>
            <p class="texto-desafio">{{desafio.conteudo}}</p>
            <form name="add-estimation" method="post" class="input">
                <textarea type="text" name="title" class="add-text" placeholder="coloque seu texto aqui..." ng-model="resposta"></textarea>
                <button class="add-button foto" ng-hide="isEdit === true" s3 options="options" name="uploads" ng-click="DaFCtrl.startLoading()" ng-model="files" required>
                    ESCOLHA A FOTO
                </button>
                <button class="add-button foto" ng-hide="isEdit === false" s3 options="options" ng-click="DaFCtrl.startLoading()" name="uploads" ng-model="files" required>
                    MODIFICAR FOTO
                </button>
                <p class="titulo-foto">{{files[0].name}}</p>
                <input type="button" value="POSTAR" ng-hide="isEdit === true || DaFCtrl.loading === true" class="add-button cadastrar" ng-click="DaFCtrl.cadastrar() ; feedbackDesafio = true">
                <input type="button" value="EDITAR" ng-hide="isEdit === false || DaFCtrl.loading === true" class="add-button cadastrar" ng-click="DaFCtrl.cadastrar()" ng-click="DaFCtrl.changeView('perfil')">
                <img ng-src="{{url}}" alt="" ng-class="{'s3-foto-url': url != null}">
            </form>
        </div>
        <div class="feedback" ng-show="feedbackDesafio">
            <p class="feedback-text">
                <b>{{msgComplete}}<br>{{msgPoints}}</b>
            </p>
            <button type="button" name="btn" class="feedback-button" ng-click="DaFCtrl.changeView() ; feedbackDesafio = false">Fechar</button>
        </div>
        <div class="loading" ng-show="DaFCtrl.loading">
            <div class="tab">
                <p> Carregando </p>
            </div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </section>
</body>

</html>
