<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Desafios</title>
    <link rel="stylesheet" type="text/css" href="/css/desafios.css">
</head>

<body>
    <section class="main fundo full-page" id="desafios" ng-controller="DesafioController as post" ng-class="{'fundo-desafio':programa() === true, 'fundo-desafio-simplesmente':programa() === false}">
        <div class="conteudo">
            <p class="title">Desafios postados</p>
            <form class="form-desafio" method="post" accept-charset="utf-8">
                <select class="search-bar desafio-form" ng-model="listFase">
                    <option value="" selected>busca por semana</option>
                    <option value="{{semana.numero}}" ng-repeat="semana in post.semanas">{{semana.nome}}</option>
                </select>
                <select class="search-bar desafio-form" ng-model="listUnidade">
                    <option value="" selected>busca por unidade</option>
                    <option value="{{unidade}}" ng-repeat="unidade in post.unidade">{{unidade}}</option>
                </select>
                <select class="search-bar desafio-form" ng-model="listDepartamento">
                    <option value="" selected>busca por área/departamento</option>
                    <option value="{{departamento}}" ng-repeat="departamento in post.departamento">{{departamento}}</option>
                </select>
                <input type="submit" name="button" class="desafio-button" value="aplicar" ng-click="setFiltroById(listFase, listUnidade, listDepartamento)">
            </form>
            <div ng-repeat="def in post.desafios | filter:filtro">
                <ng-postfoto></ng-postfoto>
            </div>
        </div>
    </section>
</body>

</html>
