<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chat</title>
    <link rel="stylesheet" type="text/css" href="/css/editar-perfil.css">
</head>

<body>
    <div class="form-editar">
        <p class="strong page-title">EDITAR PERFIL</p>
        <img ng-src={{url}} class="image-profile">
        <button class="add-button" s3 options="options" name="uploads" ng-model="files" required>
                Alterar foto
        </button>
        <div class="input-form">
            <form name="add-estimation" method="post" class="input">
                <input type="text" name="title" ng-model="nome" ng-init="nome = user">
                <input type="button" value="SALVAR ALTERAÇÕES" class="button" ng-click="getUser(nome)">
            </form>
        </div>
    </div>
    <div class="loading" ng-show="getLoading()">
        <div class="tab">
            <p> Carregando </p>
        </div>
        <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        <span class="sr-only">Loading...</span>
    </div>
    <i class="estampa_container"></i>
</body>

</html>