<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Administrador</title>
    <link rel="stylesheet" type="text/css" href="/css/editar-usuario.css">
</head>

<body>
    <section class="main fundo full-page" id="editarUsuario" ng-controller="EditarUsuarioController as editar" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false, 'back': editar.confirm === true}">
        <div class="editar-usuario" ng-style="{opacity : ((editar.success === true || editar.error === true || editar.confirm === true || editar.loading === true) && '0.4') || '1'}">
            <div class="conteudo">
                <p class="titulo"> {{editar.usuario.nome}} </p>
                <p class="subtitulo"> ({{editar.usuario.email}}) </p>
            </div>
            <div class="conteudo">
                <div class="tituloArea"> Escolha a área desejada: </div>
                <div class="tituloUnidade"> Escolha a unidade desejada: </div>
            </div>
            <div class="conteudo">
                <select class="campoArea" ng-model="editar.usuario.departamento" ng-options="v for v in editar.empresa.departamento"></select>
                <select class="campoUnidade" ng-model="editar.usuario.unidade" ng-options="v for v in editar.empresa.unidade"></select>
            </div>
            <div class="conteudo">
                <button type="button" class="buttonSalvar" ng-click="editar.save()">SALVAR</button>
                <button type="button" class="buttonVoltar" onclick="javascript:window.history.back()">VOLTAR</button>
                <button type="button" class="buttonVoltar" ng-click="editar.confirm = true">DELETAR</button>
            </div>
        </div>
        <div class="success" ng-show="editar.confirm">
            <div class="tab">
                <a class="exit" href="" ng-click="editar.confirm = false">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
                </a>
                <a class="check" href="" ng-click="editar.delete()">
                    <i class="fa fa-check fa-2x" aria-hidden="true"></i>
                </a>
            </div>
            <p> Deseja realmente deletar o usuário? </p>
        </div>
        <div class="success" ng-show="editar.success">
            <div class="tab">
                <a class="exit">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="editar.success = false" onclick="javascript:window.history.back()"></i>
                </a>
            </div>
            <p> {{editar.msg}} </p>
        </div>
        <div class="error" ng-show="editar.error">
            <div class="tab">
                <a class="exit">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true" ng-click="editar.error = false" onclick="javascript:window.history.back()"> </i>
                </a>
            </div>
            <p> {{editar.msg}} </p>
        </div>
        <div class="loading" ng-show="editar.loading">
            <div class="tab">
                <p> Carregando </p>
            </div>
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            <span class="sr-only">Loading...</span>
        </div>
    </section>
</body>
