<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Empresa</title>
    <link rel="stylesheet" type="text/css" href="/css/empresa.css">
</head>

<body>
    <section class="main fundo full-page" id="empresa" ng-controller="EmpresaController as empresaCtrl" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo">
            <div class="ferramentas-empresa">
                <p class="titulo">{{empresaCtrl.empresa.nome}}</p>
                <div class="opcoes-empresa" ng-show = "empresaCtrl.isAdmin()">
                    <div class="empresa">
                        <button type="button" class="button" ng-click="empresaCtrl.changeView('usuarios')">USUÁRIOS DA EMPRESA</button>
                        <button type="button" class="button" ng-click="empresaCtrl.changeView('relatorio-usuarios')">RELATÓRIO DOS USUÁRIOS</button>
                        <button type="button" class="button" ng-click="empresaCtrl.changeView('relatorio-programa')">RELATÓRIO DO PROGRAMA</button>
                        <button type="button" class="button" onclick="javascript:history.back()">VOLTAR</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
