<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Feed</title>
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
</head>

<body>
    <section class="main fundo full-page" id="feed" ng-controller="FeedController as feed" ng-class="{'fundo-desafio':programa() === true, 'fundo-desafio-simplesmente':programa() === false}">
        <div class="conteudo"><!-- ng-class="{'back': feed.confirm === true}" ng-disabled="feed.confirm === true"-->
            <p class="title">{{tituloPrograma()}}</p>
            <form>
                <select class="search-bar" ng-model="listTipo">
                    <option value="" selected>Todos</option>
                    <option ng-repeat="list in feedTipo.options" value="{{list.tipo}}">{{list.nome}}</option>
                </select>
                <input type="submit" name="button" class="buscar button-search" value=" " ng-click="setTypeById(listTipo)">
            </form>
            <div class="feed-atualizacao fundo-estampa">
                <div ng-repeat="conteudo in feed.posts | filter: tipo | filter: semana : true">
                    <div ng-switch on="conteudo.tipo" id="conteudo._id">
                        <div ng-switch-when="0">
                            <ng-feedquiz></ng-feedquiz>
                        </div>
                        <div ng-switch-when="1">
                            <ng-feeddesafios></ng-feeddesafios>
                        </div>
                        <div ng-switch-when="2">
                            <ng-feedconteudo></ng-feedconteudo>
                        </div>
                        <div ng-switch-when="3">
                            <ng-feedcomplemento></ng-feedcomplemento>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- div class="success" ng-show="feed.confirm">
            <div class="tab">
                <a class="exit" href="" ng-click="feed.confirm = false">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <p> {{feed.message}} </p>
        </div -->
    </section>
</body>

</html>
