<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ferramentas</title>
    <link rel="stylesheet" type="text/css" href="/css/ferramentas.css">
    
</head>

<body>
    <section class="main fundo full-page" id="ferramentas" ng-controller="FerramentasController as ferramentas" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo">
            <div class="trocar-senha">
                <p class="titulo">Trocar Senha</p>
                <form name="add-estimation" method="post" class="input">
                    <input type="password" placeholder="senha" ng-model="senha">
                    <input type="password" placeholder="nova senha" name="novaSenha" ng-model="novaSenha">
                    <input type="password" placeholder="repetir nova senha" name="RepNovaSenha" ng-model="repNovaSenha">
                    <input type="button" value="TROCAR" ng-click="ferramentas.changePassword(senha, novaSenha, repNovaSenha)" class="button">
                </form>
                <button type="button" class="button" ng-click="ferramentas.logout()" >SAIR</button>
                <div class="admin">
                    <a href="" ng-click="ferramentas.goToAdministrador()" >
                    <p class="admin" ng-show = "ferramentas.isAdmin()">Ferramentas de administrador</p>
                    </a>
                </div>
                <div class="regras">
                    <a href="" ng-click="ferramentas.goToRegras()" >
                    <p class="termos">Regras do jogo</p>
                    </a>
                </div>
                <div class="termos">
                    <a href="https://s3.amazonaws.com/appsimples-conceito-a/Termosdeuso.docx.pdf" target="blank">
                    <p class="termos">Termos de uso</p>
                    </a>
                </div>
                <div class="info">
                    <p class="contato">Contato</p>
                    <p>{{ferramentas.getContato().email}}</p>
                    <p>{{ferramentas.getContato().site}}</p>
                    <p>{{ferramentas.getContato().tel1}}</p>
                </div>
            </div>
        </div>
    </section>
</body>

</html>