<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Chats</title>
    <link rel="stylesheet" type="text/css" href="/css/lista-chats.css">
</head>

<body>
    <section class="main fundo full-page" id="lista-chats" ng-controller="ListaChatsController as chats" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo">
            <div class="lista-chats">
                <p class="titulo"> Chats </p>
                <table id="painel-chats">
                    <tr>
                        <th>
                            <p> Usuário </p>
                        </th>
                        <th>
                            <p> Empresa </p>
                        </th>
                        <th>
                            <p> Mensagens </p>
                        </th>
                    </tr>
                    <tr ng-repeat="chat in chats.chats | orderBy:'-nao_respondidas'">
                        <td>{{chat.user_email}}</td>
                        <td>{{chat.empresa}}</td>
                        <td class="coluna-msgs"><a href="" ng-click="chats.chooseChat(chat)"> {{chat.nao_respondidas}} </a></td>
                    </tr>
                </table>
                <button type="button" class="buttonVoltar" onclick="javascript:history.back()">VOLTAR</button>
            </div>
        </div>
    </section>
</body>
