<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Mapa da Trilha</title>
    <link rel="stylesheet" type="text/css" href="/css/mapa.css">
</head>

<body id="mapa">
    <section class="main fundo full-page"  ng-controller="MapaController as mapa" ng-class="{'fundo-quiz':programa() === true, 'fundo-quiz-simplesmente':programa() === false}" style="min-height: 700px;">
        <div class="conteudo">
            <div class="info-user">
                <p class="user">Olá {{nome}}!</p>
                <p class="text-balao" style="padding-top: 5px;">Você já tem</p>
                <p class="pontos">{{pontos}}</p>
                <p class="text-balao">pontos!</p>
            </div>
            <section>
                <!-- <a class="feed" style="background-color: #000; opacity: 0.2"></a> -->
                <!-- <a href="#" class="desafio" style="background-color: #000; opacity: 0.2"></a> -->
                <!-- <a href="#" class="quiz" style="background-color: #000; opacity: 0.2"></a> -->
                <i class="mapa">
                    <div class="semana1" class="trilha">
                        <a href="" ng-click="goToFeed(1)"><img class="feed" ng-src="{{semana1.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(1)"><img class="desafio" ng-src="{{semana1.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(1)"><img class="quiz" ng-src="{{semana1.quiz}}"></a>
                    </div>
                    <div class="semana2" class="trilha">
                        <a href="" ng-click="goToFeed(2)"><img class="feed" ng-src="{{semana2.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(2)"><img class="desafio" ng-src="{{semana2.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(2)"><img class="quiz" ng-src="{{semana2.quiz}}"></a>
                    </div>
                    <div class="semana3" class="trilha">
                        <a href="" ng-click="goToFeed(3)"><img class="feed" ng-src="{{semana3.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(3)"><img class="desafio" ng-src="{{semana3.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(3)"><img class="quiz" ng-src="{{semana3.quiz}}"></a>
                    </div>
                    <div class="semana4" class="trilha">
                        <a href="" ng-click="goToFeed(4)"><img class="feed" ng-src="{{semana4.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(4)"><img class="desafio" ng-src="{{semana4.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(4)"><img class="quiz" ng-src="{{semana4.quiz}}"></a>
                    </div>
                    <div class="semana5" class="trilha">
                        <a href="" ng-click="goToFeed(5)"><img class="feed" ng-src="{{semana5.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(5)"><img class="desafio" ng-src="{{semana5.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(5)"><img class="quiz" ng-src="{{semana5.quiz}}"></a>
                    </div>
                    <div class="semana6" class="trilha">
                        <a href="" ng-click="goToFeed(6)"><img class="feed" ng-src="{{semana6.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(6)"><img class="desafio" ng-src="{{semana6.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(6)"><img class="quiz" ng-src="{{semana6.quiz}}"></a>
                    </div>
                    <!--<div class="semana7" class="trilha">
                        <a href="" ng-click="goToFeed(7)"><img class="feed" ng-src="{{semana7.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(7)"><img class="desafio" ng-src="{{semana7.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(7)"><img class="quiz" ng-src="{{semana7.quiz}}"></a>
                    </div>
                    <div class="semana8" class="trilha">
                        <a href="" ng-click="goToFeed(8)"><img class="feed" ng-src="{{semana8.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(8)"><img class="desafio" ng-src="{{semana8.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(8)"><img class="quiz" ng-src="{{semana8.quiz}}"></a>
                    </div>
                    <div class="semana9" class="trilha">
                        <a href="" ng-click="goToFeed(9)"><img class="feed" ng-src="{{semana9.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(9)"><img class="desafio" ng-src="{{semana9.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(9)"><img class="quiz" ng-src="{{semana9.quiz}}"></a>
                    </div>
                    <div class="semana10" class="trilha">
                        <a href="" ng-click="goToFeed(10)"><img class="feed" ng-src="{{semana10.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(10)"><img class="desafio" ng-src="{{semana10.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(10)"><img class="quiz" ng-src="{{semana10.quiz}}"></a>
                    </div>
                    <div class="semana11" class="trilha">
                        <a href="" ng-click="goToFeed(11)"><img class="feed" ng-src="{{semana11.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(11)"><img class="desafio" ng-src="{{semana11.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(11)"><img class="quiz" ng-src="{{semana11.quiz}}"></a>
                    </div>
                    <div class="semana12" class="trilha">
                        <a href="" ng-click="goToFeed(12)"><img class="feed" ng-src="{{semana12.conteudo}}"></a>
                        <a href="" ng-click="goToDesafio(12)"><img class="desafio" ng-src="{{semana12.desafio}}"></a>
                        <a href="" ng-click="goToQuiz(12)"><img class="quiz" ng-src="{{semana12.quiz}}"></a>
                    </div>-->
                </i>
            </section>
        </div>
    </section>
</body>

</html>
