<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Perfil</title>
    <link rel="stylesheet" type="text/css" href="/css/perfil.css">
    <link rel="stylesheet" type="text/css" href="/css/perfil.userault.css">
    <link rel="stylesheet" type="text/css" href="/css/desafios.css">
</head>

<body>
    <section class="main fundo fundo-perfil full-page" id="perfil" ng-controller="PerfilController as post" ng-class="{'fundo-perfil':programa() === true, 'fundo-perfil-simplesmente':programa() === false}">
        <div class="conteudo">
            <p class="title">{{post.meuPerfil}}</p>
            <div class="box-conteudo">
                <div class="box box-perfil">
                    <div class="circular"></div>
                    <img src="{{post.user.foto}}" class="circular-image">
                    <div style="padding-left: 160px; padding-right: 10px; padding-bottom: 10px">
                        <p class="user user-title">{{post.user.nome}}</p>
                        <p class="user user-career">{{post.user.departamento}}</p>
                        <p class="user user-company">{{post.empresa_nome}}</p>
                        <p class="user user-email" ng-init="post.user.email==0">{{post.user.email}}</p>
                        <p class="user user-points">{{post.user.score}} pontos</p>
                    </div>
                    <a href="" ng-click="post.goToEditar()">
                        <p class="button-alterar-foto fade-in">{{post.editarPerfil}}</p>
                    </a>
                </div>
                <div class="box box-ranking">
                    <div class="row">
                        <div class="col-xs-4 col-md-4">
                            <p class="ranking">{{post.user.rankingGeral}}º</p>
                        </div>
                        <div class="col-xs-2 col-md-2">
                            <p><br>Ranking
                                <br>Geral</p>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <p class="ranking">{{post.user.rankingDepartamento}}º</p>
                        </div>
                        <div class="col-xs-2 col-md-2">
                            <p><br>Ranking
                                <br>Area</p>
                        </div>
                    </div>
                </div>
            </div>
            <p class="title-desafios">{{post.meusDesafios}}</p>
            <div ng-repeat="def in post.desafios">
                <ng-postfoto></ng-postfoto>
            </div>
            <!-- <section id="foto" ng-repeat="def in perfil.desafios">
                <div class="box box-post-head">
                    <i class="circular"></i>
                    <img ng-src="{{def.user_foto}}" class="circular-image">
                    <div class="post col-md-10">
                        <p class="title-text">{{def.titulo}}</p>
                        <p class="subtitle">{{def.texto}}</p>
                        <img ng-src="{{def.imagem}}">
                    </div>
                </div>
                <div class="box-comentario">
                    <div class="comentario">
                        <a href="" ng-click="perfil.postLike(def)">
                            <img ng-src="{{def.isLiked === true && '/images/like_ok.png' || '/images/like.png'}}">
                        </a>
                        <p class="" ng-model="def.curtidas">{{def.curtidas}}</p>
                        <a href="" ng-click="perfil.setShow(def, !perfil.isShow(def))">
                            <img src="/images/mensagens.png">
                        </a>
                        <p class="">{{def.comentarios.length || 0}}</p>
                    </div>
                </div>
                <div class="post-comentarios" ng-show="isShow()">
                    <div ng-repeat="comentario in def.comentarios" ng-show="def.comentarios.length > 0">
                        <p class="username">{{comentario.nome}}</p>
                        <p class="comentario">{{comentario.comentario}}</p>
                        <br>
                    </div>
                    <div>
                        <form method="post" accept-charset="utf-8">
                            <input type="text" class="form-comentario" name="" value="" placeholder="seu comentario..." ng-model="comentarios">
                            <input type="button" class="comentario-button" name="" value="enviar" ng-click="post.postComentario(def, comentarios); comentarios = ''">
                        </form>
                    </div>
                </div>
            </section> -->
        </div>
    </section>
</body>

</html>
