<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Desafio a fazer</title>
    <link rel="stylesheet" type="text/css" href="/css/programa.css">
</head>

<body>
    <section class="main fundo full-page" ng-controller="ProgramaController as programaVC" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo">
            <div class="programa">
                <p class="titulo">Programa</p>
                <table id="painel">
                    <tr>
                        <th>
                            <p> Tipo </p>
                        </th>
                        <th>
                            <p class="coluna-dia"> Dia </p>
                        </th>
                        <th>
                            <p> Título </p>
                        </th>
                        <th>
                            <p> </p>
                        </th>
                    </tr>
                    <tr ng-repeat="conteudo in programaVC.feed">
                        <td>
                            {{conteudo.tipoNome}} {{conteudo.tipoSemana}}
                        </td>
                        <td class="coluna-dia">
                            {{conteudo.dia}}
                        </td>
                        <td>
                            {{conteudo.titulo}}
                        </td>
                        <td>
                            <a href="" ng-click="programaVC.chooseContent(conteudo)"> Editar </a>
                        </td>
                    </tr>
                </table>
                <div>
                    <button type="button" class="buttonVoltar" onclick="javascript:history.back()">VOLTAR</button>
                    <!--<button type="button" class="buttonAdicionarComplemento" onclick="javascript:location.href='/alterar-complemento'">ADICIONAR COMPLEMENTO</button>-->
                </div>
            </div>
        </div>
    </section>
</body>

</html>
