<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Quiz</title>
    <link rel="stylesheet" type="text/css" href="/css/quiz.css">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
</head>

<body ng-app="ngAnimate">
    <section class="main fundo full-page" id="quiz" ng-controller="QuizController as quizCtrl" ng-init="feedbackQuiz = false"  ng-class="{'fundo-quiz':programa() === true, 'fundo-quiz-simplesmente':programa() === false}">
        <div class="conteudo" ng-style="{opacity : ((feedbackQuiz === true || quizCtrl.confirm === true) && '0.4') || '1'}">
            <div class="box box-quiz">
                <div style="width: 100%;">
                    <p class="box-title">QUIZ {{quizCtrl.quiz.semana}}</p>
                    <img src="/images/quiz-ideia.png" class="logo-ideia">
                    <div class="box-small">
                        <p>{{quizCtrl.quiz.conteudo}}</p>
                        <form action="" class="form">
                            <ul>
                            <li ng-repeat="opcao in quizCtrl.quiz.opcoes">
                                <input type="radio" name="type" ng-model = "$parent.answer" ng-value = "$index + 1">
                                <label>{{opcao.resposta}}</label>
                            </li>
                        </ul>
                        <input type="button" name="btn" value="OK" class="submit-button" 
                            ng-click = "quizCtrl.responder(true, answer)">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="feedback" ng-show="feedbackQuiz">
            <p class="feedback-text">
                <b>{{messageFeedBack}}</b>
            </p>
            <button type="button" name="btn" class="feedback-button" ng-click="feedbackQuiz = false ; decisionBack()">Fechar</button>
        </div>
        <div class="success" ng-show="quizCtrl.confirm">
            <div class="tab">
                <a class="exit" href="" ng-click="quizCtrl.confirm = false" onclick="javascript:history.back()">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <p> {{quizCtrl.message}} </p>
        </div>
    </section>
</body>

</html>
