<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ranking</title>
    <link rel="stylesheet" type="text/css" href="/css/simulador.css">
    <link rel="stylesheet" type="text/css" href="/css/ranking.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
</head>

<body>
    <section class="main fundo full-page" id="ranking" ng-controller="RankingController as rank" ng-class="{'fundo-ranking':programa() === true, 'fundo-ranking-simplesmente':programa() === false}">
        <div class="conteudo">
            <p class="title">Ranking</p>
            <div class="box box-ranking">
                <i class="circular"></i>
                <img src="{{rank.foto}}" class="circular-image">
                <div class="row">
                    <div class="ranking-info">
                        <div class="col-xs-6 col-md-6">
                            <p class="ranking">{{rank.rankingUserGeral}}º</p>
                            <p class="ranking-type">Ranking Geral</p>
                        </div>
                        <div class="col-xs-6 col-md-6">
                            <p class="ranking">{{rank.rankingUserDepartamento}}º</p>
                            <p class="ranking-type">Ranking Area</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row table-ranking">
                <div class="col-xs-6 col-md-6">
                    <p class="ranking-title">Ranking Geral</p>
                    <div class="box-ranking-list">
                        <table>
                            <tr ng-repeat="list in rank.rankingGeral">
                                <td>
                                    <p>{{-(list.length - $index - 1)}}. {{list.nome}}</p>
                                </td>
                                <td>
                                    <p class="colPts">{{list.score}} pts</p>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-6 col-md-6">
                    <p class="ranking-title">Ranking por área</p>
                    <div class="box-ranking-list">
                        <table>
                            <tr ng-repeat="list in rank.rankingDepartamento">
                                <td>
                                    <p>{{-(list.length - $index - 1)}}. {{list.nome}}</p>
                                </td>
                                <td>
                                    <p class="colPts">{{list.score}} pts</p>
                                </td>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>
