<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Ferramentas</title>
    <link rel="stylesheet" type="text/css" href="/css/regras-do-jogo.css">
</head>

<body>
    <section class="main fundo full-page" id="ferramentas" ng-controller="RegrasDoJogoController as regras" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo">
            <div class="regras">
                <p class="titulo">O Jogo</p>
                <p class="definicao" ng-bind-html="to_trusted(regras.descricaoDoPrograma())"></p>
            </div>
            <div class="regras">
                <p class="titulo" id="contagemDosPontos">Contagem dos pontos</p>
            </div>
            <div class="regras">
                <table>
                    <tr>
                        <td>
                            <img src="/images/conteudo_azul1.png" class="img">
                        </td>
                        <td>
                            <p class="pontuacao">{{regras.ptsConteudo}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/images/desafios.png" class="img">
                        </td>
                        <td>
                            <p class="pontuacao">{{regras.ptsDesafio}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/images/quiz.png" class="img">
                        </td>
                        <td>
                            <p class="pontuacao">{{regras.ptsQuiz}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/images/like_ok.png" class="img">
                        </td>
                        <td>
                            <p class="pontuacao">{{regras.ptsCurtidas}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/images/conteudo.png" class="img">
                        </td>
                        <td>
                            <p class="pontuacao">{{regras.ptsComplemento}}</p>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button type="button" class="button" onclick="javascript:history.back()">VOLTAR</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</body>

</html>
