<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Dados gerais do programa</title>
    <link rel="stylesheet" type="text/css" href="/css/relatorio-programa.css">
</head>

<body>
    <section class="main fundo full-page" id="relatorio-programa" ng-controller="RelatorioProgramaController as relatorio" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo">
            <div class="relatorio-programa">
                <p class="titulo" ng-class="log()">{{relatorio.empresa.nome}}</p>
            </div class="relatorio-programa">
            <div class="relatorio-programa" ng-repeat="semana in relatorio.semanas">
                <p class="subtitulo">Fase {{semana.semana}}</p>
                <div class="painel-dados">
                    <table>
                        <tr>
                            <th colspan="3"> Quiz {{semana.semana}} - {{relatorio.quizzes[semana.semana-1].nome}}</th>
                        </tr>
                        <tr ng-repeat="opcao in relatorio.quizzes[semana.semana-1].opcoes">
                            <td>{{opcao.resposta}}</td>
                            <td>{{opcao.count}}</td>
                            <td>{{relatorio.apresentaPorcentagem(opcao.count, relatorio.porcentagem[semana.semana-1])}} %</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>Conteúdo</th>
                            <th>Visualizações</th>
                            <th>Comentários</th>
                            <th>Curtidas</th>
                        </tr>
                        <tr>
                            <td>{{relatorio.conteudos[semana.semana-1].nome}}</td>
                            <td>{{relatorio.conteudos[semana.semana-1].visualizacoes}}</td>
                            <td>{{relatorio.conteudos[semana.semana-1].comentarios}}</td>
                            <td>{{relatorio.conteudos[semana.semana-1].likes}}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>Desafio</th>
                            <th>Postagens</th>
                        </tr>
                        <tr>
                            <td>{{relatorio.desafios[semana.semana-1].nome}}</td>
                            <td>{{relatorio.desafios[semana.semana-1].postagens}}</td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <th>Complemento</th>
                            <th>Comentários</th>
                            <th>Curtidas</th>
                        </tr>
                        <tr>
                            <td>{{relatorio.complementos[semana.semana-1].nome}}</td>
                            <td>{{relatorio.complementos[semana.semana-1].comentarios}}</td>
                            <td>{{relatorio.complementos[semana.semana-1].likes}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="relatorio-programa">
                <button type="button" class="buttonVoltar" onclick="javascript:history.back()">VOLTAR</button>
            </div>
        </div>
    </section>
</body>
