<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Estatísticas dos usuários</title>
    <link rel="stylesheet" type="text/css" href="/css/relatorio-usuarios.css">
</head>

<body>
    <section class="main fundo full-page" id="relatorio-usuarios" ng-controller="RelatorioUsuariosController as relatorio" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo">
            <div class="relatorio-usuarios">
                <p class="titulo">{{relatorio.empresa.nome}}</p>
                <div class="painel-dados">
                    <table>
                        <tr>
                            <th>Usuário</th>
                            <th>Departamento</th>
                            <th>Unidade</th>
                            <th>Conteúdo</th>
                            <th>Quiz</th>
                            <th>Desafio</th>
                            <th>Chat</th>
                            <th>Pontuação</th>
                        </tr>
                        <tr ng-repeat="user in relatorio.usersInfo | orderBy:'nome'">
                            <td>{{user.nome}}</td>
                            <td>{{user.departamento}}</td>
                            <td>{{user.unidade}}</td>
                            <td>{{relatorio.getSemanas(user.conteudos)}}</td>
                            <td>{{relatorio.getSemanas(user.quizzzes)}}</td>
                            <td>{{relatorio.getSemanas(user.desafios)}}</td>
                            <td>{{user.numeroChats}}</td>
                            <td>{{user.score}}</td>
                        </tr>
                    </table>
                </div>
                <br>
            </div>
            <div class="relatorio-usuarios">
                <button type="button" class="buttonVoltar" onclick="javascript:history.back()">VOLTAR</button>
            </div>
        </div>
    </section>
</body>
