<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Usuários</title>
    <link rel="stylesheet" type="text/css" href="/css/usuarios.css">
</head>

<body>
    <section class="main fundo full-page" id="usuarios" ng-controller="AdmUsuariosController as admUsers" ng-class="{'fundo-ferramentas':programa() === true, 'fundo-ferramentas-simplesmente':programa() === false}">
        <div class="conteudo">
            <div class="usuarios">
                <p class="titulo">{{admUsers.empresa.nome}}</p>
                <table id="painelUsuarios">
                    <tr ng-repeat="usuario in admUsers.usuarios | orderBy: 'email'">
                        <th>
                            {{usuario.email}}
                        </th>
                        <th>
                            {{usuario.departamento}}
                        </th>
                        <th>
                            {{usuario.unidade}}
                        </th>
                        <th>
                            {{usuario.alert}}
                        </th>
                        <th>
                            <a href="" ng-click="admUsers.getUser(usuario)"> Editar </a>
                        </th>
                    </tr>
                </table>
                <button type="button" class="buttonNovoUsuario" ng-click="admUsers.addUsers()">ADICIONAR NOVOS USUÁRIOS</button>
                <button type="button" class="buttonVoltar" onclick="javascript:history.back()">VOLTAR</button>
            </div>
        </div>
    </section>
</body>
