<!DOCTYPE html>
<html ng-app="myApp" ng-controller="EsqueciSenhaController as esqueciSenha">

<head>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conceito A - {{page.programa}}</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/Login.css">
    <link rel="stylesheet" type="text/css" href="/fontawesome/css/font-awesome.min.css">
    <!-- Dependencias de bibliotecas -->
    <script src="/js/lib/angular/angular.min.js"></script>
    <script src="/js/lib/angular-local-storage/angular-local-storage.js"></script>
    <script src="/js/lib/angular-route/angular-route.js"></script>
    <script src="js/lib/satellizer.js"></script>
    <script src="js/lib/angular-s3.js"></script>
    <script src="js/lib/angular-md5.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/js/lib/angular-youtube-embed.min.js"></script>
    <script src="/js/lib/scrollglue.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>
    <!-- Services -->
    <script src="/js/services/desafios.js"></script>
    <script src="/js/services/quiz.js"></script>
    <script src="/js/services/perfil.js"></script>
    <script src="/js/services/feed.js"></script>
    <script src="/js/services/chat.js"></script>
    <script src="/js/services/ranking.js"></script>
    <script src="/js/services/empresa.js"></script>
    <script src="/js/services/ferramentas.js"></script>
    <script src="/js/services/likes.js"></script>
    <script src="/js/services/comments.js"></script>
    <script src="/js/services/adm-conteudo.js"></script>
    <script src="/js/services/esqueci-senha.js"></script>
    <script src="/js/services/s3.js"></script>
    <script src="/js/services.js"></script>
    <!-- Controllers -->
    <script src="/js/controllers/desafios.js"></script>
    <script src="/js/controllers/desafios-a-fazer.js"></script>
    <script src="/js/controllers/quiz.js"></script>
    <script src="/js/controllers/ranking.js"></script>
    <script src="/js/controllers/perfil.js"></script>
    <script src="/js/controllers/chat.js"></script>
    <script src="/js/controllers/mapa.js"></script>
    <script src="/js/controllers/feed.js"></script>
    <script src="/js/controllers/cadastro.js"></script>
    <script src="/js/controllers/ferramentas.js"></script>
    <script src="/js/controllers/login.js"></script>
    <script src="/js/controllers/esqueci-senha.js"></script>
    <script src="/js/controllers/editar-perfil.js"></script>
    <script src="/js/controllers/programa.js"></script>
    <script src="/js/controllers/menu.js"></script>
    <script src="/js/controllers/administrador.js"></script>
    <script src="/js/controllers/cadastro-empresa.js"></script>
    <script src="/js/controllers/alterar-complemento.js"></script>
    <script src="/js/controllers/alterar-conteudo.js"></script>
    <script src="/js/controllers/alterar-desafio.js"></script>
    <script src="/js/controllers/alterar-quiz.js"></script>
    <script src="/js/controllers/adicionar-usuarios.js"></script>
    <script src="/js/controllers/desafios-a-fazer.js"></script>
    <script src="/js/controllers/adm-usuarios.js"></script>
    <script src="/js/controllers/lista-chats.js"></script>
    <script src="/js/controllers/editar-usuario.js"></script>
    <script src="/js/controllers/relatorio-programa.js"></script>
    <script src="/js/controllers/relatorio-usuarios.js"></script>
    <script src="/js/controllers/empresa.js"></script>
    <script src="/js/controllers/regras-do-jogo.js"></script>
</head>

<body>
    <div class="nossa-mesa full-page">
        <div class="login_panel">
            <p class="title">Digite seu e-mail abaixo. Você receberá uma nova senha no seu email cadastrado.</p>
            <div class="input-form">
                <form method="post" class="input" ng-disabled="esqueciSenha.error === true">
                    <input type="text" autocapitalize="none" name="title" placeholder="digite seu email" ng-model="email">
                    <input type="submit" value="ENVIAR" class="button" ng-click="esqueciSenha.reset(email); email = ''">
                </form>
                <p>{{esqueciSenha.message}}</p>
            </div>
        </div>
        <i class="estampa_container fundo-login"></i>
        <div class="error" ng-init="esqueciSenha.error = false" ng-show="esqueciSenha.error === true">
            <div class="tab">
                <a href="" ng-click="esqueciSenha.error = false">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <p>{{esqueciSenha.err}}</p>
        </div>
        <div class="success" ng-init="esqueciSenha.success = false" ng-show="esqueciSenha.success === true">
            <div class="tab">
                <a href="" ng-click="esqueciSenha.voltar()">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <p>Uma nova senha foi enviada para o seu e-mail.</p>
        </div>
    </div>
</body>

</html>
