<!DOCTYPE html>
<html ng-app="myApp" ng-controller="MenuController as menuCtrl">

<head>
    <meta charset="utf8">
    <title ng-bind="title">Conceito A</title>
    <base href="/">
    <link rel="stylesheet" type="text/css" href="/css/simulador.css">
    <link rel="stylesheet" type="text/css" href="/css/default.css">
    <link rel="stylesheet" href="/css/tabs_main.css">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" type="text/css" href="/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <!-- Dependencias de bibliotecas -->
    <script src="/js/lib/angular/angular.min.js"></script>
    <script src="/js/lib/angular-local-storage/angular-local-storage.js"></script>
    <script src="/js/lib/angular-route/angular-route.js"></script>
    <script src="js/lib/satellizer.js"></script>
    <script src="js/lib/angular-s3.js"></script>
    <script src="js/lib/angular-md5.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/js/lib/angular-youtube-embed.min.js"></script>
    <script src="/js/lib/scrollglue.js"></script>
    
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>
    <!-- Services -->
    <script src="/js/services/desafios.js"></script>
    <script src="/js/services/quiz.js"></script>
    <script src="/js/services/perfil.js"></script>
    <script src="/js/services/feed.js"></script>
    <script src="/js/services/chat.js"></script>
    <script src="/js/services/ranking.js"></script>
    <script src="/js/services/empresa.js"></script>
    <script src="/js/services/ferramentas.js"></script>
    <script src="/js/services/likes.js"></script>
    <script src="/js/services/comments.js"></script>
    <script src="/js/services/adm-conteudo.js"></script>
    <script src="/js/services/esqueci-senha.js"></script>
    <script src="/js/services/s3.js"></script>
    <script src="/js/services.js"></script>
    <!-- Controllers -->
    <script src="/js/controllers/desafios.js"></script>
    <script src="/js/controllers/desafios-a-fazer.js"></script>
    <script src="/js/controllers/quiz.js"></script>
    <script src="/js/controllers/ranking.js"></script>
    <script src="/js/controllers/perfil.js"></script>
    <script src="/js/controllers/chat.js"></script>
    <script src="/js/controllers/mapa.js"></script>
    <script src="/js/controllers/feed.js"></script>
    <script src="/js/controllers/cadastro.js"></script>
    <script src="/js/controllers/ferramentas.js"></script>
    <script src="/js/controllers/login.js"></script>
    <script src="/js/controllers/esqueci-senha.js"></script>
    <script src="/js/controllers/editar-perfil.js"></script>
    <script src="/js/controllers/programa.js"></script>
    <script src="/js/controllers/menu.js"></script>
    <script src="/js/controllers/administrador.js"></script>
    <script src="/js/controllers/cadastro-empresa.js"></script>
    <script src="/js/controllers/alterar-complemento.js"></script>
    <script src="/js/controllers/alterar-conteudo.js"></script>
    <script src="/js/controllers/alterar-desafio.js"></script>
    <script src="/js/controllers/alterar-quiz.js"></script>
    <script src="/js/controllers/desafios-a-fazer.js"></script>
    <script src="/js/controllers/adm-usuarios.js"></script>
    <script src="/js/controllers/lista-chats.js"></script>
    <script src="/js/controllers/adicionar-usuarios.js"></script>
    <script src="/js/controllers/editar-usuario.js"></script>
    <script src="/js/controllers/relatorio-programa.js"></script>
    <script src="/js/controllers/relatorio-usuarios.js"></script>
    <script src="/js/controllers/empresa.js"></script>
    <script src="/js/controllers/regras-do-jogo.js"></script>
</head>

<body id="index" style="line-height: normal;">
    <div ng-show="showSideMenu" class="sidemenu" id="sidemenu">
        <div class="logo">
            <div class="img_logo">
                <img ng-src="{{menuCtrl.programaID === 1 && '/images/nossamesa_menu.png' || '/images/simplesmentebem_menu.png'}}">
            </div>
            <div class="icons_label3">
                <p class="programaNM" ng-show="isNossaMesa">Nossa
                        <br> Mesa</p>
                    <p class="programaSB" ng-show="isSimplesmente">Simplesmente
                        <br> Bem</p>
            </div>
        </div>
        <ul class="nav-list">
            <li class="nav-item" id="tab_perfil" ng-click="menuCtrl.changeView('perfil')"><img ng-src="{{foto}}" class="icons info">
                <div class="icons_label_perfil">
                    <p class="bold no-margin" style="max-width: 10px;">{{nome[0]}}
                        <p class="bold">{{score}}<span> pontos</span></p>
                    </p>
                </div>
            </li>
            <li class="nav-item" id="tab_mapa" ng-click="menuCtrl.changeView('mapa')"><img src="/images/icones_menu/trilha_menu.png" class="icons">
                <div class="icons_label2">
                    <p class="bold">Mapa
                        <br> da Trilha</p>
                </div>
            </li>
            <li class="nav-item" id="tab_feed" ng-click="menuCtrl.goToFeed()"><img src="/images/icones_menu/programa_menu.png" class="icons">
                <div class="icons_label2">
                    <p class="bold" ng-show="isNossaMesa">Nossa
                        <br> Mesa
                    <p class="bold" ng-show="isSimplesmente">Simplesmente
                        <br> Bem</div>
            </li>
            <li class="nav-item" id="tab_desafios" ng-click="menuCtrl.changeView('desafios')"><img src="/images/icones_menu/desafio_menu.png" class="icons">
                <div class="icons_label">
                    <p class="bold">Desafios</div>
            </li>
            <li class="nav-item" id="tab_ranking" ng-click="menuCtrl.changeToRanking('ranking')"><img src="/images/icones_menu/ranking_menu.png" class="icons">
                <div class="icons_label">
                    <p class="bold">Ranking</p>
                </div>
            </li>
            <li class="nav-item" id="tab_chat" ng-click="menuCtrl.changeToChat()"><img src="/images/icones_menu/chat_menu.png" class="icons">
                <div class="icons_label2">
                    <p class="bold">Contato com
                        <br>especialista</p>
                </div>
                <div class="badge_mensagens" ng-show="naoVisualizadasFlag">{{naoVisualizadas}}</div>
            </li>
            <li class="nav-item" id="tab_opcoes" ng-click="menuCtrl.changeView('ferramentas')"><img src="/images/icones_menu/opcoes_menu.png" class="icons">
                <div class="icons_label">
                    <p class="bold">Ferramentas</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="container-inside-view full-page">
        <img ng-src="/images/menu.png" id="trigger-side-menu" class="trigger-side-menu" ng-show="showTrigger" ng-click="menuCtrl.showMenu()"></img>

        <div id="inside-view" class="inside-view full-page">
            <div ng-view class="full-page"></div>
        </div>
    </div>
</body>

</html>
