<!DOCTYPE html>
<html ng-app="myApp" ng-controller="LoginController as loginCtrl">

<head>
    <meta charset="utf8">
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ng-bind="title">Conceito A</title>
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="/css/Login.css">
    <!-- Dependencias de bibliotecas -->
    <link rel="stylesheet" type="text/css" href="/fontawesome/css/font-awesome.min.css">
    <script src="/js/lib/angular/angular.min.js"></script>
    <script src="/js/lib/angular-local-storage/angular-local-storage.js"></script>
    <script src="/js/lib/angular-route/angular-route.js"></script>
    <script src="js/lib/satellizer.js"></script>
    <script src="js/lib/angular-s3.js"></script>
    <script src="js/lib/angular-md5.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="/js/lib/angular-youtube-embed.min.js"></script>
    <script src="/js/lib/scrollglue.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/controllers.js"></script>
    <script src="/js/directives.js"></script>
    <script src="/js/filters.js"></script>
    <!-- Services -->
    <script src="/js/services/desafios.js"></script>
    <script src="/js/services/quiz.js"></script>
    <script src="/js/services/perfil.js"></script>
    <script src="/js/services/feed.js"></script>
    <script src="/js/services/chat.js"></script>
    <script src="/js/services/ranking.js"></script>
    <script src="/js/services/empresa.js"></script>
    <script src="/js/services/ferramentas.js"></script>
    <script src="/js/services/likes.js"></script>
    <script src="/js/services/comments.js"></script>
    <script src="/js/services/adm-conteudo.js"></script>
    <script src="/js/services/esqueci-senha.js"></script>
    <script src="/js/services/s3.js"></script>
    <script src="/js/services.js"></script>
    <!-- Controllers -->
    <script src="/js/controllers/desafios.js"></script>
    <script src="/js/controllers/desafios-a-fazer.js"></script>
    <script src="/js/controllers/quiz.js"></script>
    <script src="/js/controllers/ranking.js"></script>
    <script src="/js/controllers/perfil.js"></script>
    <script src="/js/controllers/chat.js"></script>
    <script src="/js/controllers/mapa.js"></script>
    <script src="/js/controllers/feed.js"></script>
    <script src="/js/controllers/cadastro.js"></script>
    <script src="/js/controllers/adicionar-usuarios.js"></script>
    <script src="/js/controllers/ferramentas.js"></script>
    <script src="/js/controllers/login.js"></script>
    <script src="/js/controllers/esqueci-senha.js"></script>
    <script src="/js/controllers/editar-perfil.js"></script>
    <script src="/js/controllers/programa.js"></script>
    <script src="/js/controllers/menu.js"></script>
    <script src="/js/controllers/administrador.js"></script>
    <script src="/js/controllers/cadastro-empresa.js"></script>
    <script src="/js/controllers/alterar-complemento.js"></script>
    <script src="/js/controllers/alterar-conteudo.js"></script>
    <script src="/js/controllers/alterar-desafio.js"></script>
    <script src="/js/controllers/alterar-quiz.js"></script>
    <script src="/js/controllers/desafios-a-fazer.js"></script>
    <script src="/js/controllers/adm-usuarios.js"></script>
    <script src="/js/controllers/lista-chats.js"></script>
    <script src="/js/controllers/adicionar-usuarios.js"></script>
    <script src="/js/controllers/editar-usuario.js"></script>
    <script src="/js/controllers/relatorio-programa.js"></script>
    <script src="/js/controllers/relatorio-usuarios.js"></script>
    <script src="/js/controllers/empresa.js"></script>
    <script src="/js/controllers/regras-do-jogo.js"></script>
</head>

<body ng-class="{'nossa-mesa':programa() === true, 'simples-mente':programa() === false}">
    <div class="full-page">
        <div class="login_panel" ng-class="{'back': loginCtrl.error === true}">
            <div class="logo">
                <img ng-src="{{loginCtrl.programaID === 1 && '/images/LogoNossaMesa.png' || '/images/LogoSimplesmenteBem.png'}}">
            </div>
            <div class="nome-do-programa">
                <p>{{page.programa | uppercase}}</p>
            </div>
            <div class="input-form">
                <form name="add-estimation" method="post" class="input" ng-disabled="loginCtrl.error">
                    <input autocapitalize="none" style="display:block;" type="text" name="title" placeholder="email" ng-model="user.email">
                </form>
                <form name="add-estimation" method="post" class="input" ng-disabled="loginCtrl.error">
                    <input autocapitalize="none" style="display:block;" type="password" name="title" placeholder="senha" ng-model="user.senha" ng-enter="enterClicked()">
                </form>
                <form name="add-estimation" method="post" class="input" ng-disabled="loginCtrl.error">
                    <div class="esqueci_senha">
                        <a href="" ng-click="goToEsqueciSenha()" class="align-right">esqueci senha</a>
                    </div>
                </form>
                <form name="add-estimation" method="post" class="input" ng-disabled="loginCtrl.error">
                    <!-- <input autocapitalize="none" style="display:block;position: inherit;margin-left: auto;margin-right: auto;" type="text" name="title" placeholder="email" ng-model="user.email">
                    <input autocapitalize="none" style="display:block;position: inherit;margin-left: auto;margin-right: auto;" type="password" name="title" placeholder="senha" ng-model="user.senha">
                    <div class="esqueci_senha">
                        <a href="" ng-click="goToEsqueciSenha()" class="align-right">esqueci senha</a>
                    </div> -->
                    <input style="display:block;" type="submit" value="ENTRAR" class="button" ng-click="loginCtrl.login(user.email,user.senha)">
                </form>
            </div>
        </div>
        <i class="estampa_container fundo-login" ng-class="{'fundo-login':programa() === true, 'fundo-login-simplesmente':programa() === false}"></i>
        <div class="error" ng-init="loginCtrl.error = false" ng-show="loginCtrl.error">
            <div class="tab">
                <a href="" ng-click="loginCtrl.error = false">
                    <i class="fa fa-times-circle fa-3x" aria-hidden="true"></i>
                </a>
            </div>
            <p>Email / Senha inválidos</p>
        </div>
    </div>
</body>

</html>
