/*
 * Style - ADICIONAR USUÁRIOS
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.titulo {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-left: 0px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.tituloArea {
    position: relative;
    font-size: 15px;
    color: white;
    font-weight: bold;
    float: left;
    text-align: left;
    margin-left: 20px;
    width: 250px;
}

.tituloUnidade {
    font-size: 15px;
    color: white;
    font-weight: bold;
    float: left;
    text-align: left;
    margin-left: 20px;
    width: 250px;
}

.tituloEmails {
    font-size: 15px;
    color: white;
    font-weight: bold;
    float: left;
    text-align: left;
    margin-left: 20px;
    width: 200px;
}

.campoArea {
    position: relative;
    width: 250px;
    height: 45px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #1f770c;
    background-color: white;
    border-color: white;
    margin-bottom: 15px;
}

.campoUnidade {
    position: relative;
    width: 250px;
    height: 45px;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #1f770c;
    background-color: white;
    border-color: white;
    margin-bottom: 15px;
}

.campoEmail {
    font-size: 14px;
    font-weight: bold;
    color: #1f770c;
    margin-left: 20px;
    width: 300px;
    height: 45px;
    text-align: center;
    position: relative;
    margin-top: 10px;
    background-color: white;
    border-color: transparent;
    margin-bottom: 15px;
}

::-webkit-input-placeholder {
    color: #1f770c;
}

input:-moz-placeholder {
    color: #1f770c;
}

.buttonSalvar {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    margin-left: 40%;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonSalvar:hover {
    color: #1f770c;
    background-color: white;
}

.buttonVoltar {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    margin-left: 40%;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonVoltar:hover {
    color: #1f770c;
    background-color: white;
}

.buttonAdicionarUsuarios {
    height: 40px;
    width: 210px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    margin-left: 20px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonAdicionarUsuarios:hover {
    color: #1f770c;
    background-color: white;
}

.loading {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
}

.loading .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.loading .tab p {
    text-align: center;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.loading i {
    margin-top: 25px;
    margin-left: 225px;
    color: green;
}

.back {
    opacity: 0.5;
}
