/*
 * Style - ADMINISTRADOR
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.ferramentas-admin {
    width: 100%;
    float: left;
    margin-left: 40px;
}

.ferramentas-admin p {
    color: white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.opcoes-admin {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.empresa a:link {
    color: white;
}

.empresa a:visited {
    color: white;
}

.empresa a:hover {
    color: white;
}

.painel-empresas {
    width: 100%;
    float: left;
}

.painel-empresas p {
    color: white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

table#painel-empresas {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px;
    padding: 0px;
}

th {
    height: 20px;
    text-align: left;
    vertical-align: bottom;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 15px;
    color: white;
}

.buttonNovaEmpresa {
    alignment-baseline: central;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 30px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonNovaEmpresa:hover {
    color: #1f770c;
    background-color: white;
}

.button {
    alignment-baseline: central;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    border: none;
    display: block;
    cursor: pointer;
}

.button:hover {
    color: #1f770c;
    background-color: white;
}

.buttonVoltar {
    alignment-baseline: central;
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonVoltar:hover {
    color: #1f770c;
    background-color: white;
}
