/*
 * Style - CADASTRO DE EMPRESA
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.cadastro-empresa {
    width: 100%;
    float: left;
    margin-left: 40px;
}

.cadastro-empresa p {
    color: white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.subtitulo {
    text-align: left;
    font-size: 18px;
    margin-top: 30px;
}

::-webkit-input-placeholder {
    color: white;
}

input[type=text] {
    width: 275px;
    font-size: 16px;
    position: left;
    color: white;
    background: transparent;
    display: block;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

input[type=date] {
    width: 275px;
    font-size: 16px;
    position: relative;
    color: white;
    background: transparent;
    display: block;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 0px;
}

textarea:focus,
input:focus {
    outline-color: rgba(255, 255, 255, 0);
}

form .button {
    color: white;
    background-color: transparent;
    margin-top: 20px;
}

form .button:hover {
    color: #1f770c;
    background-color: white;
}

.button {
    height: 50px;
    width: 150px;
    alignment-baseline: central;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    border: none;
    display: block;
    cursor: pointer;
}

.button:hover {
    color: #1f770c;
    background-color: white;
}

.adicionar {
    background-image: url("/images/add.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #1f770c;
    border-color: transparent;
    border-radius: 100%;
    outline-color: rgba(255, 255, 255, 0);
    padding: 0;
    position: relative;
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: 0px;
}

.adicionar:hover {
    background-color: var(--verde_light);
}

.success {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
    color: black;
}

.success .exit {
    float: left;
}

.success .check {
    float: right;
    margin-right: 5px;
    color: green;
    background-color: white;
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.success .check i {
    color: #78ba2b;
    padding-top: 7px;
    padding-left: 3px;
}

.success .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.success p {
    text-align: center;
    color: green;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.success i {
    margin-top: -2px;
    color: white;
    cursor: pointer;
}

.back {
    opacity: 0.5;
}

.error {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
    color: black;
}

.error .tab {
    height: 45px;
    width: 500px;
    background-color: #aa223d;
    padding-top: 5px;
    padding-left: 5px;
}

.error p {
    text-align: center;
    color: red;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.error i {
    margin-top: -2px;
    color: white;
    cursor: pointer;
}

.loading {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
}

.loading .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.loading .tab p {
    text-align: center;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.loading i {
    margin-top: 25px;
    margin-left: 225px;
    color: green;
}
