/*
 * Style - CHAT
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.box-chat {
    width: 600px;
    height: 450px;
    background-color: #f0f0f2;
    position: relative;
    overflow-y: scroll;
    padding-bottom: 10px;
    display: inline-block;
}

.form-inline {
    height: 70px;
    width: 600px;
    background: #fff;
    bottom: 0px;
    margin-top: -3px;
}

.form-inline img {
    vertical-align: top;
    height: 50px;
    max-width: 50px;
    border-radius: 100%;
    margin-left: 20px;
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-inline input[type="submit"] {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    border: 1px solid #fff;
    background-color: #fff;
    margin-left: 10px;
    background-image: url('../images/send.png');
    background-size: 35px 35px;
    background-repeat: no-repeat;
    background-position: center;
    outline-color: rgba(255, 255, 255, 0);
    float: right;
    margin: 8px;
}

.form-inline textarea {
    resize:none;
    height: 100%;
    width: 440px;
    border-color: transparent;
    padding: 10px;
    outline-color: rgba(255, 255, 255, 0);
}

.conteudo {
    padding-left: 100px;
}

.mensagem {
    padding: 10px;
    display: inherit;
    width: 100%;
}

.img-mensagem {
    height: 75px;
    width: 75px;
    border-radius: 100%;
    border: 5px solid #fff;
    position: relative;
}

.left-image {
    float: left;
}

.right-image {
    float: right;
}

.body-mensagem {
    height: auto;
    width: 80%;
    background-color: #fff;
    position: relative;
    margin-top: 20px;
    padding: 10px;
    font-weight: bold;
}

.left {
    float: left;
    margin-right: 0;
    margin-left: 10px;
}

.right {
    float: right;
    margin-left: 0;
    margin-right: 10px;
}
