/*
 * Style - DEFAULT
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

@font-face {
    font-family: Arial-Rounded-MT-Bold;
    src: url(../font/Arial-Rounded-MT-Bold.TTF);
}

html,
body {
    width: 100%;
    height: 100%;
}

p {
    margin: 0;
}

.full-page {
    height: 100%;
}

.inside-view {
    min-height: 100%;
    height: 100%;
}

.conteudo {
    position: relative;
    float: left;
}

.box {
    font-family: Arial;
}

#debug section {
    margin: 80px;
}

#desafios .ng-scope {
    width: 600px;
    max-width: 600px;
}

.fundo {
    background-repeat: repeat;
    position: relative;
    display: table;
    width: 100%;
    min-height: 100%;
    padding-bottom: 50px;
}

.fundo-desafio {
    background: url('/images/estampa_nossamesa_nm.png') center center;
}

.fundo-ferramentas {
    background: url('/images/estampa_nossamesa_conf.png') center center;
}

.fundo-perfil {
    background: url('/images/estampa_nossamesa_perfil.png') center center;
}

.fundo-ranking {
    background: url('/images/estampa_nossamesa_ranking.png') center center;
}

.fundo-quiz {
    background: url('/images/estampa_nossamesa_quiz.png') center center;
}

.fundo-desafio-simplesmente {
    background: url('/images/estampa_simplesmente_sm.png') center center;
}

.fundo-ferramentas-simplesmente {
    background: url('/images/estampa_simplesmente_conf.png') center center;
}

.fundo-perfil-simplesmente {
    background: url('/images/estampa_simplesmente_perfil.png') center center;
}

.fundo-ranking-simplesmente {
    background: url('/images/estampa_simplesmente_ranking.png') center center;
}

.fundo-quiz-simplesmente {
    background: url('/images/estampa_simplesmente_quiz.png') center center;
}

.mapa {
    background: url('../images/caminho6.png') center center;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 643px 500px;
    margin: 0 auto;
    height: 500px;
    width: 643px;
    top: 120px;
}


@media only screen and (max-width: 950px) {
    .inside-view {
        min-width: 100%;
        width: 800px;
    }
}
