/*
 * Style - DESAFIOS
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

#texto .box-post-head {
    min-height: 120px;
}

#texto {
    min-height: auto;
    max-width: 500px;
}

#foto .box-post-head {
    min-height: 10px;
}

#foto {
    min-height: auto;
    max-width: 600px;
    background-color: #fff;
    display: table;
}

.logo {
    max-height: 100px;
    width: auto;
    position: absolute;
    margin-left: -17.5px;
    margin-top: -17.5px;
}

.loading {
    background-color: white;
    height: 150px;
    width: 500px;
    position: fixed;
    top: 25%;
    left: 30%;
}

.loading .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.loading .tab p {
    text-align: center;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.loading i {
    margin-top: 25px;
    margin-left: 225px;
    color: green;
}

.circular {
    height: 100px;
    width: 100px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    margin-left: -25px;
    margin-top: -25px;
}

.circular-image {
    position: absolute;
    z-index: 2;
    height: 90px;
    width: 90px;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 100%;
    position: absolute;
    margin-left: -20px;
    margin-top: -20px;
}

.post {
    width: 100%;
}

.post p {
    color: #002739;
    margin-left: 90px;
    float: left;
    padding-right: 130px;
}

.post .title {
    font-size: 23px;
    margin-top: 20px;
    width: auto;
}

.post .subtitle {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
    width: 100%;
    font-weight: bold;
}

.post .texto {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 15px;
    width: 100%;
    font-weight: bold;
    text-align: justify;
}

.post .text-body {
    margin-top: 0px;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    width: auto;
}

.post .text-expand {
    margin-top: 0px;
    font-size: 11px;
    font-weight: bold;
    margin-top: 10px;
    color: #000039;
    width: auto;
}

.post img {
    height: 300px;
    width: 450px;
    margin-left: 90px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.comentario {
    display: inline-flex;
    margin-left: 20px;
    clear: both;
}

.comentario p {
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 3px;
    font-size: 15px;
    color: #002739;
    font-weight: bold;
    position: relative;
}

.comentario img {
    height: 30px;
    width: 30px;
    position: relative;
    margin: 0;
}

.editar-post {
    clear: both;
    float: right;
    display: flex;
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.editar-post img {
    height: 20px;
    margin-top: 2.5px;
    cursor: pointer;
}

.editar-post p {
    font-family: Arial;
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
    color: #002739;
    cursor: pointer;
}

.box-zero {
    height: 0px;
    width: 600px;
    position: relative;
    display: block;
    background-color: #fff;
}

.box-complete {
    height: 40px;
    width: 600px;
    position: relative;
    display: block;
    background-color: #fff;
    margin-bottom: 10px;
}

.align-left {
    float: left;
}

.curtida {
    margin-left: 15px;
}

.comentado {
    margin-top: 3px;
}

.text-expandable {}

.title-text {
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 23px;
    width: 100%;
}

.conteudo {
    padding-left: 100px;
}

.post-comentarios {
    min-height: 0px;
    height: auto;
    width: 100%;
    background-color: #fff;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
}

.post-comentarios .username {
    float: left;
    width: auto;
    margin: 0;
    margin-left: 20px;
    font-weight: bold;
    color: #217985;
}

.post-comentarios .comentario {
    float: left;
    width: auto;
    font-weight: bold;
    color: #002739;
    margin: 0;
    margin-left: 5px;
}

.post-comentarios .ng-scope {
    display: flex;
    padding-bottom: 5px;
}

@-moz-document url-prefix() {
    .circular {
        margin-left: -625px;
        margin-top: -23px;
    }
    .circular-image {
        margin-left: -620px;
        margin-top: -18px;
    }
    #foto {
        margin-top: 40px;
    }
}

.input {
    margin-top: 20px;
}

.add-text {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    border: none;
    resize: none;
    padding: 10px;
    outline: none;
}

.add-button {
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    outline: none;
    font-weight: bold;
    color: #002739;
}

.add-button:hover {
    color: white;
    background-color: #002739;
}

input[type="file"] {
    cursor: pointer;
}

.foto {
    float: left;
}

.cadastrar {
    float: right;
}

.titulo-desafio {
    font-weight: bold;
    color: #002739;
    font-size: 20px;
}

.texto-desafio {
    font-weight: bold;
    color: #002739;
    font-size: 15px;
    margin-top: 5px;
}

.titulo-foto {
    font-weight: bold;
    color: #002739;
    font-size: 15px;
    float: left;
    margin-top: 30px;
    margin-left: 10px;
}

.width-resize {
    width: 700px;
}

.form-comentario {
    width: 500px;
    height: 35px;
    outline-style: none;
    border: 1px solid #f0f0f2;
    padding: 10px;
    margin: 10px;
    color: black;
    background: white;
}

.comentario-button {
    height: 30px;
    background-color: white;
    border: 2px solid #217985;
    color: #217985;
    margin: 0px;
    outline-style: none;
}

.comentario-button:hover {
    background-color: #217985;
    border-color: white;
    color: white;
}

.feedback {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 200px;
    width: 500px;
    background-color: #47ced1;
    border-radius: 10px;
}

.feedback .feedback-text {
    font-family: arial;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.feedback-button {
    border-radius: 20px;
    border-style: solid;
    border-color: #a2e065;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    margin-top: 50px;
    margin-right: 15px;
    background-color: #a2e065;
    outline-color: rgba(255, 255, 255, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

.s3-foto-url {
    height: 280px;
    width: 360px;
    margin-top: 15px;
    clear: both;
    float: left;
}
