/*
 * Style - EDITAR PERFIL SCREEN
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */
 
.image-profile {
    height: 210px;
    width: 210px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.loading {
    background-color: white;
    height: 150px;
    width: 500px;
    position: fixed;
    top: 25%;
    left: 30%;
}

.loading .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.loading .tab p {
    text-align: center;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.loading i {
    margin-top: 25px;
    margin-left: 225px;
    color: green;
}

.text-container {
    margin-top: 0;
}

.form-editar {
    height: 100%;
    width: 40%;
    float: left;
    background-color: #d1294a;
}

.estampa_container {
    background-image: url('../images/estampa_nossamesa_login.png');
    background-repeat: repeat;
    background-size: 962.75px 800px;
    border: 0;
    min-height: 100%;
    height: 600px;
    width: 60%;
    overflow: hidden;
    float: right;
}

.input-form {
    margin-top: 50px;
}

.esqueci_senha {
    width: 275px;
    margin: 0 auto;
    margin-top: 8px;
    position: relative;
    display: block;
}

.align-right {
    float: right;
}

.add-button {
    background-color: transparent;
    font-size: 18px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    margin: auto;
    display: block;
    outline: none;
    font-weight: bold;
    color: white;
}

.add-button:hover {
    color: #47ced1;
}

input[type=file] {
    cursor: pointer;
}

.button {
    height: 50px;
    width: auto;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #47ced1;
    margin: auto;
    margin-top: 60px;
    border: none;
    display: block;
    cursor: pointer;
    user-focus: outline 0;
}

.button:hover {
    color: #47ced1;
    background-color: white;
}

.strong {
    font-weight: bold;
}

.form-editar p {
    text-align: center;
    margin-top: 40px;
}

.form-editar .strong {
    margin-top: 10px;
}

.form-editar .page-title {
    margin-top: 75px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.alterar-foto:hover {
    text-decoration: none;
    color: #47ced1;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="password"],
input[type="email"],
input[type="text"] {
    width: 275px;
    font-size: 16px;
    position: relative;
    color: white;
    background: transparent;
    margin: 0 auto;
    display: block;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    padding-left: 0;
    text-align: center;
}

input[type="password"],
input[type="email"] {
    margin-top: 20px;
}

textarea:focus,
input:focus {
    outline-color: rgba(255, 255, 255, 0);
}


/*Mudando a cor do placeholder*/

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}

@media only screen and (max-width: 736px) {
    .login_panel {
        width: 100%;
        clear: both;
    }
    .estampa_container {
        width: 0%;
        background-image: none;
    }
}

@media only screen and (width: 768px) {
    .login_panel {
        width: 50%;
    }
    .estampa_container {
        width: 50%;
    }
}
