/*
 * Style - EDITAR USUÁRIO
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.editar-usuario {
    width: 700px;
    float: left;
    margin-left: 40px;
}

.editar-usuario p {
    color: white;
}

.conteudo {
    width: 100%;
    float: left;
}

.conteudo p {
    color: white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 15px;
}

.subtitulo {
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 50px;
}

.tituloArea {
    position: relative;
    font-size: 15px;
    color: white;
    font-weight: bold;
    float: left;
    text-align: left;
    margin-left: 40px;
    width: 250px;
}

.tituloUnidade {
    font-size: 15px;
    color: white;
    font-weight: bold;
    float: left;
    text-align: left;
    margin-left: 20px;
    width: 250px;
}

.campoArea {
    position: relative;
    width: 250px;
    height: 45px;
    float: left;
    margin-left: 40px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #1f770c;
    background-color: white;
    border-color: white;
    margin-bottom: 15px;
}

.campoUnidade {
    position: relative;
    width: 250px;
    height: 45px;
    float: left;
    margin-left: 0px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #1f770c;
    background-color: white;
    border-color: white;
    margin-bottom: 15px;
}

::-webkit-input-placeholder {
    color: #1f770c;
}

input:-moz-placeholder {
    color: #1f770c;
}

.buttonSalvar {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 40px;
    margin-left: 225px;
    margin-right: 225px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonSalvar:hover {
    color: #1f770c;
    background-color: white;
}

.buttonVoltar {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 225px;
    margin-right: 225px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonVoltar:hover {
    color: #1f770c;
    background-color: white;
}

.success {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
    color: black;
}

.success .exit {
    float: left;
    color: white;
}

.success .check {
    float: right;
    margin-right: 5px;
    color: green;
    background-color: white;
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.success .check i {
    color: #78ba2b;
    padding-top: 7px;
    padding-left: 3px;
}

.success .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.success p {
    text-align: center;
    color: green;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.success i {
    margin-top: -2px;
    color: white;
    cursor: pointer;
}

.error {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
    color: black;
}

.error .tab {
    height: 45px;
    width: 500px;
    background-color: #aa223d;
    padding-top: 5px;
    padding-left: 5px;
}

.error p {
    text-align: center;
    color: red;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.error i {
    margin-top: -2px;
    color: white;
    cursor: pointer;
}

.loading {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
}

.loading .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.loading .tab p {
    text-align: center;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.loading i {
    margin-top: 25px;
    margin-left: 225px;
    color: green;
}