/*
 * Style - EMPRESA
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.ferramentas-empresa {
    width: 100%;
    float: left;
    margin-left: 40px;
}

.ferramentas-empresa p {
    color: white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 40px;
}

.opcoes-empresa {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.button {
    alignment-baseline: central;
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 30px;
    border: none;
    display: block;
    cursor: pointer;
}

.button:hover {
    color: #1f770c;
    background-color: white;
}

