/*
 * Style - FEED
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.box-atualizacao {
    width: 600px;
    min-height: 50px;
    height: auto;
    background: #fff;
    display: table;
}

.feed-atualizacao {
    max-width: 600px;
}

.img {
    max-height: 100px;
    width: auto;
    position: absolute;
    margin-left: -17.5px;
    margin-top: -17.5px;
}

.atualizacao {
    width: 100%;
}

.atualizacao p {
    font-size: 14px;
    color: #002739;
    margin-left: 80px;
    float: left;
    width: 100%;
    font-weight: normal;
    margin-bottom: 10px;
    padding-right: 10px;
    text-align: justify;
}

.atualizacao .title {
    font-size: 23px;
    margin-top: 20px;
}

.atualizacao .text-close {
    max-height: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: normal;
    padding-right: 90px;
}

.atualizacao .text-open {
    max-height: 100%;
    padding-right: 90px;
    font-weight: normal;
}

.atualizacao .text-expand {
    font-size: 11px;
    font-weight: normal;
    margin-top: 10px;
    color: #1BB9B9;
    text-align: center;
    margin-bottom: 10px;
}

.atualizacao .text-expand:hover {
    cursor: pointer;
    color: #ff5566;
    text-align: center;
}

.atualizacao .button-checked {
    background-color: #217985;
    color: #fff;
    border: none;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    outline-color: rgba(255, 255, 255, 0);
}

.atualizacao img {
    height: 300px;
    width: 450px;
    margin-left: 80px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.atualizacao .text-title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 25px;
    padding-right: 125px;
}

.atualizacao .text-body {
    padding-right: 125px;
}

.atualizacao .text-img {
    padding-right: 125px;
    font-size: 13px;
    font-weight: 900;
}

.rounded-number {
    font-size: 40px;
    color: white;
    font-weight: bold;
    background-color: #217985;
    height: 100px;
    width: 100px;
    text-align: center;
    alignment: center;
    position: absolute;
    margin-left: -17.5px;
    margin-top: -17.5px;
    border-radius: 100%;
    border: 4px solid white;
    padding-top: 22.5px;
}

.button-container {
    width: 100px;
}

.dias {
    font-size: 23px;
    color: #a2e065;
    float: left;
    margin-left: 78px;
    margin-top: 40px;
}

.button-quiz {
    position: absolute;
    margin-left: 500px;
    margin-top: 5px;
}

.button-complemento {
    position: relative;
    margin-left: 265px;
    margin-right: 0px;
}

.button-desafio {
    position: absolute;
    margin-left: 500px;
    margin-top: -3px;
}

.button-foto {
    position: absolute;
    margin-left: 500px;
    margin-top: -13px;
}

.button {
    color: #217985;
    border: 3px solid #217985;
    background-color: rgba(255, 255, 255, 0);
    height: 90px;
    width: 90px;
    border-radius: 100%;
    outline-color: rgba(255, 255, 255, 0);
    font-weight: bold;
    padding: 0;
}

#quiz .button {
    margin-top: -8px;
}

.button:hover {
    background-color: #217985;
    color: #fff;
}

.button-checked {
    background-color: #217985;
    color: #fff;
    border: none;
    height: 90px;
    width: 90px;
    border-radius: 100%;
    outline-color: rgba(255, 255, 255, 0);
}

.comentario {
    height: inherit;
    width: auto;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    margin-top: 0px;
    padding-left: 95px;
    margin-bottom: 5px;
    width: 100%;
}

.comentario p {
    margin-left: 5px;
    margin-right: 15px;
    margin-top: 3px;
    font-size: 15px;
    color: #002739;
    font-weight: bold;
    position: relative;
    width: 20px;
}

.comentario img {
    height: 30px;
    width: 30px;
    position: relative;
    margin: 0;
}

.bottom-container {
    min-height: 85px;
    height: auto;
    width: 100%;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    margin-top: 0px;
    margin-bottom: 5px;
}

.post-comentarios {
    min-height: 0px;
    height: auto;
    width: 100%;
    background-color: #fff;
    float: left;
    padding-top: 10px;
    padding-bottom: 5px;
}

.post-comentarios .username {
    float: left;
    width: auto;
    margin: 0;
    margin-left: 20px;
    font-weight: bold;
    color: #217985;
}

.post-comentarios .comentario {
    float: left;
    width: auto;
    font-weight: bold;
    color: #002739;
    margin: 0;
    margin-left: 5px;
    padding: 0;
}

.post-comentarios .ng-scope {
    display: flex;
    padding-bottom: 5px;
}

.comentario p,
.comentario a {
    clear: both;
    float: left;
    outline-style: none;
}

.comentario div {
    clear: both;
    float: right;
}

.form-comentario {
    width: 500px;
    height: 35px;
    outline-style: none;
    border: 1px solid #f0f0f2;
    padding: 10px;
    margin: 10px;
    color: black;
    background: white;
}

.comentario-button {
    height: 30px;
    background-color: white;
    border: 2px solid #217985;
    color: #217985;
    margin: 0px;
    outline-style: none;
}

.comentario-button:hover {
    background-color: #217985;
    border-color: white;
    color: white;
}

.back {
    opacity: 0.5;
}

.success {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 100px;
    left: 25%;
    color: black;
}

.success .exit {
    float: left;
}

.success .exit i {
    color: white;
}

.success .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 2px;
    padding-left: 5px;
}

.success p {
    text-align: center;
    color: green;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

@-moz-document url-prefix() {
    #desafio .img,
    #complemento .img {
        margin-left: -620px;
    }
    #foto .img {
        margin-left: -20px;
    }
    .comentario p,
    .comentario a {
        width: 20px;
    }
    #quiz .box-atualizacao {
        min-height: 190px;
    }
    #desafio .box-atualizacao {
        min-height: 210px;
    }
}
