/*
 * Style - FERRAMENTAS
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.trocar-senha {
    width: 150%;
    float: left;
}

.trocar-senha p {
    color: white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

.trocar-senha .info {
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

.admin, .termos, .regras {
    font-size: 15px;
    font-weight: bold;
    margin: 10px;
    text-align: center;
    margin-top: 40px;
}

.contato {
    margin-bottom: 20px;
    margin-top: 40px;
}

.button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #d1294a;
    margin: auto;
    margin-top: 30px;
    border: none;
    display: block;
    cursor: pointer;
}

.button:hover {
    color: #d1294a;
    background-color: white;
}

form .button {
    color: white;
    background-color: #47ced1;
    margin-top: 60px;
}

form .button:hover {
    color: #47ced1;
    background-color: white;
}

.esqueci_senha {
    width: 275px;
    margin: 0 auto;
    margin-top: 8px;
    position: relative;
    display: block;
}

::-webkit-input-placeholder {
    color: white;
}

input:-moz-placeholder {
    color: white;
}

input[type="password"] {
    width: 275px;
    font-size: 16px;
    position: relative;
    color: white;
    background: transparent;
    margin: 0 auto;
    display: block;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 20px;
    padding-bottom: 2px;
    padding-left: 0;
}

textarea:focus,
input:focus {
    outline-color: rgba(255, 255, 255, 0);
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}
