/*
 * Style - LISTA DE CHATS
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.lista-chats {
    width: 100%;
    float: left;
    margin-left: 40px;
}

.lista-chats p {
    color: white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

table#painel-chats {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 15px;
}

th {
    height: 16px;
    width: "20%";
    text-align: left;
    vertical-align: bottom;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 18px;
}

td {
    height: 20px;
    width: "20%";
    text-align: left;
    vertical-align: bottom;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 15px;
    color: white;
}

.coluna-msgs {
    text-align: center;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

.buttonVoltar {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    alignment-baseline: central;
    margin-top: 10px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonVoltar:hover {
    color: #1f770c;
    background-color: white;
}
