/*
 * Style - LOGIN SCREEN
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

:root {
    --vermelho: #d1294a;
    --azul_light: #47ced1;
    --azul_middle: #217985;
    --azul_dark: #002739;
    --verde_light: #a2e065;
    --verde_middle: #78ba2b;
    --verde_dark: #1f770c;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial;
    border: 0;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

i {
    font-family: Arial;
}

.simples-mente {
    background-color: #217985;
}

.nossa-mesa {
    background-color: #d1294a;
}

.logo {
    height: 240px;
    width: 240px;
    margin: 0 auto;
    margin-top: 60px;
    border-radius: 100%;
}

.logo img {
    height: 240px;
    width: 240px;
}

.logo-cadastro {
    height: 210px;
    width: 210px;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0);
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.fundo-login {
    background-image: url('../images/estampa_nossamesa_login.png');
}

.fundo-login-simplesmente {
    background-image: url('/images/estampa_simplesmente_login.png');
}

.estampa_container {
    background-size: 962.75px 800px;
    background-repeat: repeat;
    position: relative;
    display: table;
    overflow: hidden;
    float: right;
    border: 0;
    width: 60%;
    height: 100%;
}

.full-page {
    height: 100%;
}

.text-container {
    margin-top: 0;
}

.nossa-mesa .logo p {
    color: #d1294a;
}

.login_panel {
    height: 100%;
    width: 40%;
    float: left;
}

.input-form {
    margin-top: 50px;
    display: block;
}

.esqueci_senha {
    width: 275px;
    margin: 0 auto;
    margin-top: 8px;
    position: relative;
    display: block;
}

.align-right {
    float: right;
}

.add-button {
    background-color: transparent;
    font-size: 18px;
    border: none;
    padding: 10px;
    margin-top: 20px;
    margin: auto;
    display: block;
    outline: none;
    font-weight: bold;
    color: white;
}

.add-button:hover {
    color: #002739;
}

.button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #47ced1;
    margin: auto;
    margin-top: 60px;
    border: none;
    display: block;
    cursor: pointer;
    user-focus: outline 0;
}

.button:hover {
    color: #47ced1;
    background-color: white;
}

.strong {
    font-weight: bold;
}

.login_panel p {
    text-align: center;
    margin-top: 40px;
}

.login_panel .strong {
    margin-top: 10px;
}

.login_panel .title {
    margin-top: 75px;
}

.alterar-foto:hover {
    text-decoration: none;
    color: #47ced1;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

input[type="password"],
input[type="email"],
input[type="text"] {
    width: 275px;
    font-size: 16px;
    display: block;
    color: white;
    background: transparent;
    margin: 0 auto;
    display: block;
    border: none;
    border-bottom: 1px solid white;
    padding-bottom: 2px;
    padding-left: 0;
}

input[type="password"],
input[type="email"] {
    margin-top: 20px;
}

textarea:focus,
input:focus {
    outline-color: rgba(255, 255, 255, 0);
}


/*Mudando a cor do placeholder*/

::-webkit-input-placeholder {
    color: white;
}

:-moz-placeholder {
    /* Firefox 18- */
    color: white;
}

::-moz-placeholder {
    /* Firefox 19+ */
    color: white;
}

:-ms-input-placeholder {
    color: white;
}



.error {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
    color: black;
}

.error .tab {
    height: 45px;
    width: 495px;
    background-color: #aa223d;
    padding-top: 5px;
    padding-left: 5px;
}

.error p {
    text-align: center;
    color: red;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.error i {
    margin-top: -4px;
}

.back {
    opacity: 0.5;
}

.success {
    background-color: white;
    height: 150px;
    width: 500px;
    position: absolute;
    top: 25%;
    left: 30%;
    color: black;
}

.success .tab {
    height: 45px;
    width: 495px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.success p {
    text-align: center;
    color: green;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.success i {
    margin-top: -4px;
}

@media only screen and (max-width: 736px) {
    .login_panel {
        width: 100%;
        clear: both;
    }
    .estampa_container {
        width: 0%;
        background-image: none;
    }
    .error {
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }
    .error .tab {
        width: 100%;
        padding: 0;
        height: 50px;
    }
    .error i {
        margin-left: 5px;
        margin-top: 2px;
    }
}

@media only screen and (width: 768px) {
    .login_panel {
        width: 50%;
    }
    .estampa_container {
        width: 50%;
    }
    .error {
        width: 95%;
        left: 2.5%;
        right: 2.5%;
    }
    .error .tab {
        width: 100%;
        padding: 0;
        height: 50px;
    }
    .error i {
        margin-left: 5px;
        margin-top: 2px;
    }
}

@media only screen and (max-width: 360px) {
    .button {
        margin-bottom: 20px;
    }
    .logo {
        height: 200px;
        width: 200px;
        margin-top: 40px;
    }
    .logo img {
        height: 200px;
        width: 200px;
    }
    .login_panel .title {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 320px) {
    .button {
        margin-bottom: 20px;
    }
    .logo {
        height: 160px;
        width: 160px;
        margin-top: 30px;
    }
    .logo img {
        height: 160px;
        width: 160px;
    }
}

.nome-do-programa {
    font-size: 30px;
}