/*
 * Style - MAPA
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.info-user {
    position: relative;
    margin: 0;
    margin-top: -50px;
    margin-left: -50px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: none;
    background-color: rgba(209, 41, 74, 0.8);
    top: 0;
    left: 0;
}

.info-user p {
    text-align: center;
    color: #fff;
}

.info-user .user {
    padding: 10px;
    padding-top: 40px;
    font-size: 20px;
    margin-bottom: -5px;
}

.info-user .text-balao {
    font-size: 15px;
}

.info-user .pontos {
    font-size: 40px;
}

.conteudo {
    margin-top:20px;
    padding: 70px;
}

.mapa .desafio {
    position: absolute;
    height: 45px;
    width: 45px;
}

.mapa .quiz {
    position: absolute;
    height: 35px;
    width: 35px;
}

.mapa .feed {
    position: absolute;
    height: 60px;
    width: 60px;
}

.trilha {
    position: absolute;
    height: 85px;
    width: 85px;
}

.semana1 {
    position: absolute;
    top: 220px;
    left: 0px;
}

.semana2 {
    position: absolute;
    top: 110px;
    left: 105px;
}

.semana3 {
    position: absolute;
    top: 225px;
    left: 110px;
}

.semana4 {
    position: absolute;
    top: 425px;
    left: 115px;
}

.semana5 {
    position: absolute;
    top: 310px;
    left: 215px;
}

.semana6 {
    position: absolute;
    top: 110px;
    left: 215px;
}

.semana7 {
    position: absolute;
    top: 10px;
    left: 353px;
}

.semana8 {
    position: absolute;
    top: 218px;
    left: 335px;
}

.semana9 {
    position: absolute;
    top: 330px;
    left: 420px;
}

.semana10 {
    position: absolute;
    top: 105px;
    left: 470px;
}

.semana11 {
    position: absolute;
    top: 218px;
    left: 550px;
}

.semana12 {
    position: absolute;
    top: 425px;
    left: 550px;
}

.semana1 .desafio {
    top: 51px;
    left: -5px;
}

.semana1 .quiz {
    top: 43px;
    left: 38px;
}

.semana1 .feed {
    top: 5px;
    left: 0px;
}

.semana2 .desafio {
    top: 25px;
    left: 5px;
}

.semana2 .quiz {
    top: 0px;
    left: 37px;
}

.semana2 .feed {
    top: 25px;
    left: 38px;
}

.semana3 .desafio {
    top: 25px;
    left: 48px;
}

.semana3 .quiz {
    top: 3px;
    left: 23px;
}

.semana3 .feed {
    top: 25px;
    left: 5px;
}

.semana4 .desafio {
    top: 44px;
    left: 41px;
}

.semana4 .quiz {
    top: 48px;
    left: 5px;
}

.semana4 .feed {
    top: 0px;
    left: 7px;
}

.semana5 .desafio {
    top: 5px;
    left: 26px;
}

.semana5 .quiz {
    top: 35px;
    left: 1px;
}

.semana5 .feed {
    top: 42px;
    left: 25px;
}

.semana6 .desafio {
    top: 50px;
    left: 11px;
}

.semana6 .quiz {
    top: 50px;
    left: 55px;
}

.semana6 .feed {
    top: 5px;
    left: 25px;
}

.semana7 .desafio {
    top: 7px;
    left: 45px;
}

.semana7 .quiz {
    top: 52px;
    left: 50px;
}

.semana7 .feed {
    top: 25px;
    left: 4px;
}

.semana8 .desafio {
    top: 44px;
    left: 0px;
}

.semana8 .quiz {
    top: 48px;
    left: 45px;
}

.semana8 .feed {
    top: 3px;
    left: 20px;
}

.semana9 .desafio {
    top: 15px;
    left: 5px;
}

.semana9 .quiz {
    top: 48px;
    left: 40px;
}

.semana9 .feed {
    top: 5px;
    left: 38px;
}

.semana10 .desafio {
    top: 44px;
    left: 41px;
}

.semana10 .quiz {
    top: 48px;
    left: 5px;
}

.semana10 .feed {
    top: 5px;
    left: 7px;
}

.semana11 .desafio {
    top: 28px;
    left: 0px;
}

.semana11 .quiz {
    top: 3px;
    left: 31px;
}

.semana11 .feed {
    top: 25px;
    left: 37px;
}

.semana12 .desafio {
    top: 25px;
    left: 55px;
}

.semana12 .quiz {
    top: 4px;
    left: 28px;
}

.semana12 .feed {
    top: 25px;
    left: 5px;
}
