/*
 * Style - PERFIL
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.box-conteudo {
    width: 600px;
}

.box-perfil {
    min-height: 225px;
    min-width: 500px;
    height: auto;
    width: auto;
    background: #fff;
}

.box-perfil .container {
    position: absolute;
    margin-left: 150px;
    margin-top: 30px;
}

.box-ranking {
    max-height: 150px;
    max-width: 600px;
    height: 125px;
    background: #fff;
    margin-top: 15px;
    padding-left: 0px;
    padding-right: 120px;
}

#perfil .box-perfil .circular {
    height: 170px;
    width: 170px;
    overflow: hidden;
    background-color: #FFF;
    border-radius: 100%;
    position: absolute;
    margin-left: -25px;
    margin-top: -25px;
}

#perfil .box-perfil .circular-image {
    height: 155px;
    width: 155px;
    background-color: #FFF;
    border-radius: 100%;
    position: absolute;
    margin-left: -17.5px;
    margin-top: -17.5px;
}

.row {
    transform: translate(0, 15px);
}

.row p {
    font-size: 15px;
    color: #217985;
    font-weight: bold;
    margin-top: -10px;
    padding-top: 20px;
    padding-left: 0px;
}

.row .ranking {
    text-align: center;
    font-size: 40px;
    margin: 0;
    margin-left: 20px;
    width: 200px;
}

.user {
    font-weight: bold;
    color: #002739;
}

.user-title {
    font-size: 30px;
    margin: 0;
    padding-top: 20px;
    margin-bottom: 5px;
}

.user-career {
    font-size: 20px;
    margin: 0;
    height: 32px;
}

.user-company {
    font-size: 20px;
    margin: 0;
    margin-top: 20px;
    height: 32px;
}

.user-email {
    font-size: 20px;
    margin: 0;
    margin-top: 5px;
    height: 32px;
}

.user-points {
    margin-top: 10px;
    font-size: 45px;
    color: #47ced1;
    font-weight: bold;
}

.box-perfil .button-alterar-foto {
    position: absolute;
    margin-left: 40px;
    color: #47ced1;
    font-weight: bold;
    font-size: 15px;
    white-space: pre-wrap;
    text-align: center;
    top: 160px;
    -webkit-animation: fadein 1.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 1.5s;
    /* Internet Explorer */
    -o-animation: fadein 1.5s;
    /* Opera < 12.1 */
    animation: fadein 1.5s;
}

.conteudo {
    padding-left: 100px;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* @media only screen and (max-width: 768px) {
    .user-career {
        font-size: 20px;
    }
    .user-company {
        font-size: 20px;
    }
    .user-email {
        font-size: 20px;
    }
} */
