/*
 * Style - PROGRAMA
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.programa {
    width: 100%;
    float: left;
    margin-left: 40px;
}

.programa p {
    color: white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
}

table#painel {
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 15px;
}

th {
    height: 16px;
    width: "20%";
    text-align: left;
    vertical-align: bottom;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 18px;
}

td {
    height: 20px;
    width: "20%";
    text-align: left;
    vertical-align: bottom;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 15px;
    color: white;
}

.coluna-dia {
    text-align: center;
}

.remover {
    margin-top: 40px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

.buttonVoltar {
    height: 50px;
    width: 150px;
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    display: block;
    cursor: pointer;
    float: left;
    margin-left: 220px;
}

.buttonVoltar:hover {
    color: #1f770c;
    background-color: white;
}

.adicionar {
    background-image: url("/images/add.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #1f770c;
    border-color: transparent;
    border-radius: 100%;
    outline-color: rgba(255, 255, 255, 0);
    padding: 0;
    float: left;
    position: relative;
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: 0px;
}

.adicionar:hover {
    background-color: var(--verde_light);
}

.buttonAdicionarComplemento {
    height: 50px;
    width: 150px;
    font-size: 15px;
    margin-top: 30px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: none;
    display: block;
    cursor: pointer;
    float: left;
    margin-right: 150px;
}

.buttonAdicionarComplemento:hover {
    color: #1f770c;
    background-color: white;
}

.conteudo-quiz {
    float: left;
    width: 45%;
    margin-left: 40px;
}

.conteudo-desafio {
    float: left;
    width: 50%;
    margin-left: 40px;
}

.conteudo-conteudo {
    float: left;
    width: 40%;
    margin-left: 40px;
}

.conteudo-complemento {
    float: left;
    width: 40%;
    margin-left: 40px;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    color: white;
    margin-bottom: 40px;
}

.tituloII {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    color: white;
    margin-bottom: 40px;
}

.opcoes {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
    list-style: none;
    text-decoration: none;
}

.opcoesColunas a:link {
    color: white;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 15px;
    list-style: none;
    text-align: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.opcoesColunas a:visited {
    color: white;
}

.opcoesColunas a:hover {
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

.popup {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 250px;
    width: 500px;
    background-color: #47ced1;
}

.popup .popup-text {
    color: white;
}

.order {
    width: 300px;
    height: auto;
    margin-bottom: 10px;
    height: 30px;
    color: #1f770c;
}

.date {
    clear: both;
    float: left;
    width: 300px;
    margin-top: 10px;
}

.pergunta {
    margin-top: 10px;
    height: 100px;
}

textarea {
    resize: none;
}

.form-text {
    clear: both;
    font-weight: bold;
    color: white;
    margin-bottom: 5px;
    margin-top: 20px;
}

.form-quiz {
    width: 700px;
}

.alignment-left {
    width: auto;
    float: left;
}

.alignment-right {
    width: auto;
    float: left;
    margin-left: 20px;
}

.clear-alignment {
    clear: both;
    margin-top: 20px;
}

.add {
    margin-top: 10px;
    padding: 5px;
    padding-right: 7px;
    padding-left: 7px;
    background-color: white;
    border: none;
    border-radius: 100%;
    outline-style: none;
    float: right;
    margin-top: -23px;
    margin-left: 270px;
}

.add-resposta {
    margin: 0;
    display: table-row;
}

.add-resposta li {
    list-style-type: none;
    clear: both;
    float: left;
    width: 100%;
    margin-top: 10px;
}

.add-resposta li input[type='text'] {
    width: 300px;
}

.buttonAddFoto input[type='file'] {
    cursor: pointer;
}


.buttonAddFoto {
    height: 40px;
    width: 140px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    border: none;
    display: block;
}

.buttonAddFoto:hover {
    color: #1f770c;
    background-color: white;
    cursor: pointer;
}

.salvar {
    background-color: white;
    color: #1aff1a;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline-style: none;
    font-weight: bold;
    margin-top: 30px;
    clear: both;
    float: left;
}

.salvar:hover {
    background-color: #1aff1a;
    color: white;
    outline: none;
}

.desafio {
    clear: both;
    float: left;
}

.link {
    height: 50px;
}

.grid-button {
    clear: both;
    float: left;
    width: 700px;
    padding: 10px;
    margin-bottom: 20px;
}

.grid-button button {
    background-color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    outline-style: none;
    margin-right: 45px;
}

.content-image {
    clear: both;
    float: left;
    height: 300px;
    width: 300px;
    margin-bottom: 20px;
    background-color: white;
}

.buttonVoltarII {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    margin-left: 65px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonVoltarII:hover {
    color: #1f770c;
    background-color: white;
}

.buttonSalvarII {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 20px;
    margin-left: 65px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonSalvarII:hover {
    color: #1f770c;
    background-color: white;
}

.buttonSalvarIII {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 90px;
    margin-left: 65px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonSalvarIII:hover {
    color: #1f770c;
    background-color: white;
}

.buttonSalvarIV {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 170px;
    margin-left: 65px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonSalvarIV:hover {
    color: #1f770c;
    background-color: white;
}

.buttonVoltarIV {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    margin-left: 65px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonVoltarIV:hover {
    color: #1f770c;
    background-color: white;
}

.buttonSalvarV {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 30px;
    margin-left: 65px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonSalvarV:hover {
    color: #1f770c;
    background-color: white;
}

.buttonVoltarV {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    margin-left: 65px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonVoltarV:hover {
    color: #1f770c;
    background-color: white;
}

.success {
    background-color: white;
    height: 150px;
    width: 500px;
    position: fixed;
    top: 25%;
    left: 30%;
    color: black;
}

.success .exit {
    float: left;
}

.success .check {
    float: right;
    margin-right: 5px;
    color: green;
    background-color: white;
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.success .check i {
    color: #78ba2b;
    padding-top: 7px;
    padding-left: 3px;
}

.success .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.success p {
    text-align: center;
    color: green;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.success i {
    margin-top: -2px;
    color: white;
    cursor: pointer;
}

.back {
    opacity: 0.5;
}

.error {
    background-color: white;
    height: 150px;
    width: 500px;
    position: fixed;
    top: 25%;
    left: 30%;
    color: black;
}

.error .tab {
    height: 45px;
    width: 500px;
    background-color: #aa223d;
    padding-top: 5px;
    padding-left: 5px;
}

.error p {
    text-align: center;
    color: red;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.error i {
    margin-top: -2px;
    color: white;
    cursor: pointer;
}

.buttonRemoveFoto {
    height: 40px;
    width: 140px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    border: none;
    display: block;
    cursor: pointer;
}

.loading {
    background-color: white;
    height: 150px;
    width: 500px;
    position: fixed;
    top: 25%;
    left: 30%;
}

.loading .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.loading .tab p {
    text-align: center;
    color: white;
    height: 70px;
    width: 100%;
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
}

.loading i {
    margin-top: 25px;
    margin-left: 225px;
    color: green;
}

.buttonRemoveFoto:hover {
    color: #1f770c;
    background-color: white;
    cursor: pointer;
}

.buttonRemoveFotoComplemento {
    height: 40px;
    width: 140px;
    font-size: 13px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-left: 50px;
    margin-right: 45px;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonRemoveFotoComplemento:hover {
    color: #1f770c;
    background-color: white;
    cursor: pointer;
}

@media only screen and (max-width: 736px) {
    .success {
        left: 10%;
    }
}

@media only screen and (width: 768px) {
    .success {
        left: 10%;
    }
}

.buttonContainer {
    display: inline-flex;
}

