/*
 * Style - QUIZ
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.box-quiz {
    min-height: 320px;
    width: 500px;
    height: auto;
    background: #47ced1;
    padding-bottom: 5px;
}

.box-quiz p {
    font-size: 28px;
    color: #FFF;
    margin-top: 15px;
    margin-left: 4px;
}

.box-quiz .box-small {
    min-height: 225px;
    width: 465px;
    margin-top: 15px;
    margin-left: 2px;
    margin-bottom: 20px;
    padding-bottom: 75px;
    margin-left: 15px;
    height: auto;
}

.box-small {
    background: #FFF;
    margin: 0;
}

.box-small p {
    font-size: 16px;
    color: #47ced1;
    padding: 10px;
    padding-top: 18px;
    font-weight: bold;
}

.box-title {
    font-weight: bold;
    width: 150px;
    padding-top: 30px;
    padding-left: 9px;
}

.box-quiz .dias-restantes p {
    font-size: 18px;
    width: 130px;
    position: absolute;
    margin-top: -25px;
    margin-left: 200px;
}

.logo-ideia {
    width: 75px;
    height: 90px;
    position: absolute;
    margin: 0;
    margin-left: 430px;
    margin-top: -90px;
}

form .submit-button {
    border-radius: 100%;
    border-style: solid;
    border-color: #a2e065;
    width: 75px;
    height: 75px;
    padding: 2px;
    float: right;
    color: #FFF;
    font-size: 20px;
    margin-top: 10px;
    margin-right: 10px;
    background-color: #a2e065;
    outline-color: rgba(255, 255, 255, 0);
}

form p {
    margin: 0;
    padding: 0;
}

form label {
    font-size: 15px;
    position: absolute;
    margin-left: 5px;
    margin-top: 3px;
}

form input[type="radio"] {
    vertical-align: middle;
    border: 4px solid #a2e065;
    width: 20px;
    height: 20px;
}

#quiz ul {
    list-style: none;
    margin-left: -25px;
}

#quiz ul li {
    margin-bottom: 8px;
    color: #47ced1;
}

.conteudo {
    padding-left: 100px;
    padding-top: 150px;
}

.feedback {
    position: absolute;
    top: 25%;
    left: 25%;
    height: 200px;
    width: 500px;
    background-color: #47ced1;
    border-radius: 10px;
}

.feedback .feedback-text {
    font-family: arial;
    color: white;
    font-size: 20px;
    padding: 20px;
}

.feedback-button {
    border-radius: 20px;
    border-style: solid;
    border-color: #a2e065;
    color: #FFF;
    font-weight: bold;
    font-size: 18px;
    margin-top: 80px;
    margin-right: 15px;
    background-color: #a2e065;
    outline-color: rgba(255, 255, 255, 0);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    float: right;
}

.success {
    background-color: white;
    height: 150px;
    width: 500px;
    position: fixed;
    top: 25%;
    left: 30%;
    color: black;
}

.success .exit {
    float: left;
}

.success .check {
    float: right;
    margin-right: 5px;
    color: green;
    background-color: white;
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

.success .check i {
    color: #78ba2b;
    padding-top: 7px;
    padding-left: 3px;
}

.success .tab {
    height: 45px;
    background-color: #78ba2b;
    padding-top: 5px;
    padding-left: 5px;
}

.success p {
    text-align: center;
    color: green;
    height: 70px;
    width: 100%;
    margin: 0;
    padding-top: 20px;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
}

.success i {
    margin-top: -2px;
    color: white;
    cursor: pointer;
}
