/*
 * Style - RANKING
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.box-ranking {
    min-height: 120px;
    width: 600px;
    height: auto;
    background: #fff;
    position: relative;
}

.circular {
    height: 150px;
    width: 150px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    margin-left: -59px;
    margin-top: -15px;
}

.ranking-info {
    margin-left: 120px;
    margin-top: 8px;
    text-align: center;
    color: #217985;
    font-size: 15px;
    font-weight: bold;
}

.ranking {
    font-size: 40px;
    margin: 0;
    padding-left: 5px;
    margin-bottom: 5px;
}

.ranking-type {
    margin-top: -10px;
}

.table-ranking {
    max-width: 630px;
    margin-top: 55px;
}

.table-ranking div .ranking-title {
    font-size: 20px;
    font-weight: bold;
    float: left;
    color: #002739;
}

.box-ranking-list {
    height: auto;
    background-color: #fff;
    margin-top: 70px;
    padding: 10px;
}

.box-ranking-list p {
    font-size: 15px;
    text-align: left;
    font-weight: bold;
    color: #217985;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 190px;
}

.box-ranking-list p.colPts {
    font-size: 15px;
    text-align: right;
    font-weight: bold;
    color: #217985;
    margin: 0;
    margin-top: 8px;
    margin-bottom: 8px;
    width: 70px; 
}

.box-ranking-list .primeiro-rank {
    color: #002739;
}

.conteudo {
    padding-left: 100px;
}

.row {
    text-align: center;
    transform: translate(0, 15px);
}
