/*
 * Style - FERRAMENTAS
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.regras {
    width: 80%;
    float: left;
    padding-right: 100px;
}

.regras p {
    color: white;
}

.titulo {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.titulo#contagemDosPontos {
    margin-bottom: 10px;
}

.regras .definicao {
    font-size: 16px;
    font-weight: center;
    margin: 10px;
    text-align: justify;
    line-height: 30px;
}

.regras .pontuacao {
    vertical-align: middle;
    font-size: 16px;
    font-weight: normal;
    margin: 10px;
    text-align: justify;
    line-height: 25px;
    float: left;
    position: relative;
}

.regras .img {
    margin: 20px;
    height: 80px;
    width: 80px;
}

.regras button {
    margin-left: 38%;
}

.button {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #d1294a;
    margin: 0px;
    margin-top: 50px;
    border: none;
    display: block;
    cursor: pointer;
}

.button:hover {
    color: #d1294a;
    background-color: white;
}
