/*
 * Style - RELATÓRIO PROGRAMA
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.relatorio-programa {
    width: 60%;
    float: left;
    margin-left: 40px;
}

.relatorio-programa p {
    color: white;
}

.titulo {
    text-align: left;
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 0px;
}

.subtitulo {
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 0px;
}

.dados a:link {
    color: white;
}

.dados a:visited {
    color: white;
}

.dados a:hover {
    color: white;
}

.painel-dados {
    width: 100%;
    margin-right: 50px;
    float: left;
}

.painel-dados p {
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: white;
}

table {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px;
    padding: 0px;
}

th {
    height: 20px;
    text-align: center;
    vertical-align: bottom;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 15px;
    color: white;
}

td {
    height: 20px;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 15px;
    color: white;
    font-weight: normal;
}

.buttonVoltar {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    border: none;
    display: block;
    cursor: pointer;
    margin-top: 40px;
}

.buttonVoltar:hover {
    color: #1f770c;
    background-color: white;
}
