.estampa {
    width: 100%;
    min-height: 100%;
    height: 800px;
    position: absolute;
    background: url('/images/estampa.png') center center;
    background-size: 400px 400px;
    background-color: #47ced1;
    opacity: 0.4;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    clear: both;
}

@-moz-document url-prefix() {
    .estampa {
        width: -moz-available;
        left: 220px;
    }
}

#feed .estampa {
    height: 3700px;
}

#ranking .estampa {
    min-height: 100%;
    height: 800px;
    background-color: #a2e065;
}

#chat .estampa {
    background-color: #a2e065;
}

#mapa .estampa {
    background-color: #d1294a;
    opacity: 0.15;
}

#perfil .estampa {
    height: 1100px;
    opacity: 0.2;
    background-color: #d1294a;
}

#perfil .box-perfil,
#perfil .box-ranking {
    position: relative;
    background-color: #fff;
    margin-top: 40px;
}

#desafios .estampa {
    background-color: #217985;
    height: 1900px;
    opacity: 0.3;
    padding: 0;
    margin: 0;
}

#desafios .box-post-head,
#desafios .comentario {
    position: relative;
    background-color: #fff;
}

.title-desafios {
    position: relative;
    margin-top: 35px;
    font-weight: bold;
    font-size: 25px;
    color: #d1294a;
}

.title {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 25px;
    color: #d1294a;
}

#ranking .title {
    color: #002739;
    margin-top: 40px;
    font-size: 23px;
    margin-bottom: 40px;
}

#chat .title {
    color: #1f770c;
    margin-top: 40px;
    font-size: 23px;
    margin-bottom: 40px;
}

#perfil .title {
    margin-top: 40px;
    font-size: 23px;
    margin-bottom: 10px;
}

#desafios .title {
    margin-top: 40px;
    font-size: 23px;
    margin-bottom: 10px;
    color: #002739;
}

#feed .title {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 23px;
    color: #217985;
}

.feed-atualizacao section {
    position: relative;
    margin-top: 40px;
}

#foto {
    position: relative;
    margin-top: 40px;
}

.post .text-title {
    position: relative;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

.search-bar {
    height: 35px;
    width: 550px;
    background-color: #fff;
    position: relative;
    border: none;
    padding-left: 10px;
    outline: none;
    font-weight: bold;
}

.search-bar option {
    font: arial;
    font-weight: bold;
}

.desafio-form {
    margin-top: 10px;
    width: 100%;
}

.form-desafio {
    width: 600px;
    padding-bottom: 30px;
}

.desafio-button {
    height: 35px;
    width: auto;
    background-color: #217985;
    position: relative;
    clear: both;
    float: right;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border: none;
    outline-color: rgba(255, 255, 255, 0);
}

.desafio-button:hover {
    background-color: white;
    color: #217985;
}

.button-search {
    height: 35px;
    width: 35px;
    background-color: #217985;
    position: relative;
    border-radius: 100%;
    border-color: transparent;
    margin-left: 10px;
    outline-color: rgba(255, 255, 255, 0);
}

.lists {
    position: relative;
    margin-top: 20px;
    font-weight: bold;
    font-size: 25px;
}

.buscar {
    background-image: url("/images/busca.png");
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    border: none;
    outline-color: rgba(255, 255, 255, 0);
}
.adicionar {
    background-image: url("/images/add.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #a2e065;
    color: green;
    border-color: transparent; 
    border-radius: 100%;
    outline-color: rgba(255, 255, 255, 0);
    padding: 0;
    position: fixed;
    height: 25px;
    width: 25px;
    margin: 0;
    margin-left: 350px;
    margin-top: 25px; 
}

.circular-image {
    height: 135px;
    width: 135px;
    overflow: hidden;
    background-color: #fff;
    border-radius: 100%;
    position: absolute;
    margin-left: -52.5px;
    margin-top: -7.5px;
}

.conteudo {
    padding-left: 100px;
}

@media only screen and (max-width: 736px) {
    .estampa {
        width: 750px;
    }
}