/*
 * Style - TABS
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

html,
body {
    height: 100%;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial;
    line-height: normal;
}

p {
    margin: 0;
}

.sidemenu {
    background-color: #217985;
    height: 100%;
    width: 220px;
    border: 0;
    margin: 0;
    position: fixed;
    overflow-x: hidden;
    z-index: 999;
    display: -webkit-inline-box;
    display: -moz-inline-box;
    float: left;
}

.trigger-side-menu {
    margin-left: 220px;
    position: absolute;
    z-index: 999;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.container-inside-view{
    position: relative;
}

.inside-view {
    margin-left: 220px;
    position: relative;
}

.trigger-side-menu-mobile {
    margin-left: 0px;
    position: absolute;
    z-index: 999;
    height: 50px;
    width: 50px;
    margin: 10px;
}

.inside-view-mobile {
    margin-left: 0px;
    position: relative;
}

.center {
    /*width: auto;*/
    margin: 0 auto;
    width: auto;
    text-align: center;
    display: block;
    border: none;
}

.center_title {
    position: absolute;
    top: 50%;
    left: 50%;
}

.center_vertical {
    position: relative;
    top: 50%;
    left: 50%;
}

.right_div {
    border: 0;
    height: auto;
    width: auto;
    font-size: 18px;
    font-weight: bold;
    color: #217985;
    float: right;
    margin-right: 32px;
    margin-top: 23px;
}

#index .logo {
    background-color: white;
    height: 90px;
    width: 100%;
    position: relative;
    margin: 0;
    border: 0;
}

#index .logo img {
    height: 65px;
    position: relative;
    margin-top: 13px;
    margin-left: 13px;
}

.icons {
    height: 65px;
    width: 65px;
    position: relative;
    float: left;
    top: 10px;
    z-index: 10;
    margin-left: 15px;
}

.icons_label_perfil {
    float: left;
    padding-top: 25px;
    margin-left: 15px;
}

.icons_label {
    float: left;
    padding-top: 35px;
    margin-left: 15px;
}

.icons_label2 {
    float: left;
    padding-top: 25px;
    margin-left: 15px;
}

.icons_label3 {
    float: left;
    padding-top: 25px;
    margin-left: 15px;
}

.badge_mensagens {
    float: left;
    margin-top: 12px;
    margin-left: 68px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 14px;
    color: #fff;
    line-height: 20px;
    text-align: center;
    background: #F50707;
    position: absolute;
    z-index: 10;
}


/*TAGS COM CSS*/

.nav-list {
    background-color: white;
    height: auto;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    top: 90px;
}

.nav-item {
    background-color: #1f770c;
    color: white;
    width: 220px;
    height: 85px;
    list-style-type: none;
}

.nav-item:hover {
    opacity: 0.8;
    cursor: pointer;
}

.nav-item a {
    display: block;
}

p {
    margin: 0;
}

a {
    display: block;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.bold {
    font-weight: bold;
}

.programaNM {
    font-weight: bold;
    font-size: 18px;
    color: #d1294a;   
}

.programaSB {
    font-weight: bold;
    font-size: 15.5px;
    color: #217985;   
}

.no-margin {
    margin: 0;
}

ul .info {
    border-radius: 100%;
    border: 3px solid #fff;
}

ul .info .dept {
    font-size: 12px;
    margin-bottom: 0px;
}


/*OPCOES*/

#tab_perfil {
    background-color: #d1294a;
}

#tab_mapa {
    background-color: #47ced1;
}

#tab_feed {
    background-color: #217985;
}

#tab_desafios {
    background-color: #002739;
}

#tab_ranking {
    background-color: #a2e065;
}

#tab_chat {
    background-color: #78ba2b;
}

#tab_opcoes {
    background-color: #1f770c;
}

.img_logo {
    float: left;
}