/*
 * Style - USUÁRIOS DE UMA EMPRESA
 * AppSimples - www.appsimples.com.br
 * version 1.0
 */

.usuarios {
    width: 100%;
    float: left;
    margin-left: 40px;
}

.usuarios p {
    color: white;
}

.titulo {
    font-weight: bold;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

textarea:focus,
input:focus {
    outline-color: rgba(255, 255, 255, 0);
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: var(--verde_light);
}

table#painelUsuarios {
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    margin-top: 25px;
}

th {
    height: 20px;
    text-align: left;
    vertical-align: bottom;
    padding: 10px;
    border-bottom: 1px solid white;
    font-size: 15px;
    color: white;
}

.buttonNovoUsuario {
    height: 50px;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 30px;
    alignment-baseline: central;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonNovoUsuario:hover {
    color: #1f770c;
    background-color: white;
}

.buttonVoltar {
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    margin: auto;
    margin-top: 10px;
    alignment-baseline: central;
    border: none;
    display: block;
    cursor: pointer;
}

.buttonVoltar:hover {
    color: #1f770c;
    background-color: white;
}