<section id="foto">
    <div class="box box-post-head">
        <i class="circular"></i>
        <img ng-src="{{def.user_foto}}" class="circular-image" ng-click="post.goUserPerfil(def.user_id)" ng-style="{'cursor':(post.userID===def.user_id) ? 'default' : 'pointer'}">
        <div class="post col-md-10">
            <p class="title-text">{{def.user_name}}</p>
            <p class="subtitle">{{def.titulo}}</p>
            <p class="texto" ng-show="def.texto.length > 0">{{def.texto}}</p>
            <img ng-src="{{def.imagem}}" ng-show="def.imagem.length > 0">
        </div>
    </div>
    <div ng-class="{isPerfil:'box-zero'}">
        <div class="comentario">
            <a href="" ng-click="post.postLike(def)">
                <img ng-src="{{def.isLiked === true && '/images/like_ok.png' || '/images/like.png'}}">
            </a>
            <p class="" ng-model="def.like">{{def.curtidas}}</p>
            <a href="" ng-click="setShow()">
                <img src="/images/mensagens.png">
            </a>
            <p class="text-expandable">{{def.comentarios.length}}</p>
        </div>
        <div class="editar-post" ng-show="isPerfil === true" ng-click="editDesafio(def)">
            <img src="/images/edit_icon.png" alt="">
            <p>editar</p>
        </div>
    </div>
    <div class="post-comentarios" ng-show="isShow()">
        <div ng-repeat="comentario in def.comentarios" ng-show="def.comentarios.length > 0">
            <p class="username">{{comentario.nome}}</p>
            <p class="comentario">{{comentario.comentario}}</p>
            <br>
        </div>
        <div>
            <form method="post" accept-charset="utf-8">
                <input type="text" class="form-comentario" name="" value="" placeholder="seu comentario..." ng-model="comentarios">
                <input type="button" class="comentario-button" name="" value="enviar" ng-click="post.postComentario(def, comentarios); comentarios = ''">
            </form>
        </div>
    </div>
</section>
