<section id="quiz">
    <div class="box box-atualizacao" ng-show = "conteudo.enterFeed">
        <img src="/images/quiz.png" class="img">
        <div class="atualizacao col-md-10">
            <p class="text-title">Quiz {{conteudo.semana}}</p>
            <p class="text-body" ng-bind-html="to_trusted(conteudo.conteudo)"></p>
        </div>
        <div class="bottom-container">
            <div class="button-quiz">
                <button class="button" ng-click="feed.goToQuiz(conteudo._id, conteudo.isRespondido); feed.checkRespondido(conteudo)"  ng-class="{'button-checked': conteudo.isRespondido}">{{conteudo.responder}}<i ng-show="conteudo.isRespondido" class="fa fa-check fa-2x"></i></button>
            </div>
        </div>
    </div>
</section>
