<section id="foto">
    <div class="box box-atualizacao" ng-show="conteudo.enterFeed">
        <p class="img rounded-number">{{conteudo.semana}}</p>
        <div class=" atualizacao col-md-10">
            <p class="text-title" style="text-align: inherit;">{{conteudo.titulo}}</p>
            <p id="comment" class="text-body" ng-class="{'text-open':openFlag,'text-close': !openFlag}" ng-show="conteudo.texto1.length > 0" ng-bind-html="to_trusted(conteudo.texto1)"></p>
            <img ng-src="{{conteudo.imagem1}}" ng-show="conteudo.imagem1.length > 0">
            <p id="comment" class="text-body" ng-class="text-open" ng-show="conteudo.texto2.length > 0 && openFlag" ng-bind-html="to_trusted(conteudo.texto2)"></p>
            <img ng-src="{{conteudo.imagem2}}" ng-show="conteudo.imagem2.length > 0 && openFlag">
            <p id="comment" class="text-body" ng-class="text-open" ng-show="conteudo.texto3.length > 0 && openFlag" ng-bind-html="to_trusted(conteudo.texto3)"></p>
            <img ng-src="{{conteudo.imagem3}}" ng-show="conteudo.imagem3.length > 0 && openFlag">
            <div ng-show="conteudo.video.length > 0">
                <youtube-video video-url="conteudo.video" player-width="'100%'" style="height: 300px; width: 450px; margin-left: 80px; margin-bottom: 20px;"></youtube-video>
            </div>
        </div>
        <div class="comentario">
            <a href="" ng-click="feed.likePost(conteudo)">
                <img ng-src="{{conteudo.isLiked === true && '/images/like_ok.png' || '/images/like.png'}}">
            </a>
            <p class="">{{conteudo.curtidas}}</p>
            <a href="" ng-click="setShow()">
                <img src="/images/mensagens.png">
            </a>
            <p class="">{{conteudo.comentarios.length || 0}}</p>
            <div class="button-complemento">
                <button class="button" ng-click="setPostIdValue(conteudo._id); setRead()" ng-class="{'button-checked': count>=2, 'button-checked': conteudo.isRespondido || count>=2}">{{getRead(conteudo.isRespondido)}}<i ng-show="count>=2 || conteudo.isRespondido" class="fa fa-check fa-2x"></i></button>
            </div>
        </div>
        <div class="post-comentarios" ng-show="isShow()">
            <div ng-repeat="comentario in conteudo.comentarios" ng-show="conteudo.comentarios.length > 0">
                <p class="username">{{comentario.name}}</p>
                <p class="comentario">{{comentario.comment}}</p>
                <br>
            </div>
            <div>
                <form method="post" accept-charset="utf-8">
                    <input type="text" class="form-comentario" name="" value="" placeholder="seu comentario..." ng-model="comentarios">
                    <input type="button" class="comentario-button" value="enviar" ng-click="feed.sendComentario(comentarios, conteudo); comentarios = ''">
                </form>
            </div>
        </div>
    </div>
</section>
