<section id="complemento">
    <div class="box box-atualizacao" ng-show="conteudo.enterFeed">
        <img src="/images/conteudo.png" class="img">
        <div class="atualizacao col-md-10">
            <p class="text-title" style="text-align: inherit;">{{conteudo.titulo}}</p>
            <p class="text-body" ng-class="{'text-open':openFlag,'text-close': !openFlag}" ng-bind-html="to_trusted(conteudo.conteudo)"></p>
            <a ng-href="{{conteudo.link}}" target="_blank">
                <img ng-src="{{conteudo.midia}}" ng-show="conteudo.midia.length > 0">
            </a>
            <youtube-video video-url="conteudo.video" player-width="'100%'"></youtube-video>
        </div>
        <div class="comentario">
            <a href="" ng-click="feed.likePost(conteudo)">
                <img ng-src="{{conteudo.isLiked === true && '/images/like_ok.png' || '/images/like.png'}}">
            </a>
            <p class="">{{conteudo.curtidas}}</p>
            <a href="" ng-click="setShow()">
                <img src="/images/mensagens.png">
            </a>
            <p class="">{{conteudo.comentarios.length || 0}}</p>
            <div class="button-complemento" ng-show="!openFlag">
                <a>
                    <button class="button" ng-click="openComplemento()">Ver mais</button>
                </a>
            </div>
            <div class="button-complemento" ng-show="openFlag">
                <a>
                    <button class="button" ng-click="openComplemento()">Ver menos</button>
                </a>
            </div>
        </div>
        <div class="post-comentarios" ng-show="isShow()">
            <div ng-repeat="comentario in conteudo.comentarios" ng-show="conteudo.comentarios.length > 0">
                <p class="username">{{comentario.name}}</p>
                <p class="comentario">{{comentario.comment}}</p>
                <br>
            </div>
            <div>
                <form method="post" accept-charset="utf-8">
                    <input type="text" class="form-comentario" name="" value="" placeholder="seu comentario..." ng-model="comentarios">
                    <input type="button" class="comentario-button" value="enviar" ng-click="feed.sendComentario(comentarios, conteudo); comentarios = ''">
                </form>
            </div>
        </div>
    </div>
</section>
