<section id="desafio">
    <div class="box box-atualizacao" ng-show = "conteudo.enterFeed">
        <img src="/images/desafios.png" class="img">
        <div class=" atualizacao col-md-10">
            <p class="text-title" style="text-align: inherit;">{{conteudo.titulo}}</p>
            <p class="text-body" ng-bind-html="to_trusted(conteudo.conteudo)"></p>
        </div>
        <div class="bottom-container">
            <div class="button-desafio">
                <button class="button" ng-click="feed.goToDesafio(conteudo, conteudo.isRespondido)" ng-class="{'button-checked': conteudo.isRespondido || feed.diasRestantes(conteudo) === 'Desafio encerrado'}"><i ng-show="conteudo.isRespondido" class="fa fa-check fa-2x"></i>{{conteudo.responder}}</button>
            </div>
            <p class="dias col-md-6">{{feed.diasRestantes(conteudo)}}</p>
        </div>
    </div>
</section>
